In [13]:
import pandas as pd
import numpy as np


# pandas options
pd.options.display.max_columns = None

In [14]:
dict_tipos = {
# SIMAT
'ANO_INF':              'uint16',
'CODIGO_DANE':          'uint64',
'CODIGO_DANE_SEDE':     'uint64',
'TIPO_DOCUMENTO':       'uint8',
'NRO_DOCUMENTO':        'string',
'DIRECCION_RESIDENCIA': 'string',
'RES_DEPTO':            'uint8',
'RES_MUN':              'uint16',
'ESTRATO':              'uint8',
'SISBEN':               'float16',
'GENERO':               'uint8',
'POB_VICT_CONF':        'uint8',
'PROVIENE_SECTOR_PRIV': 'uint8',
'PROVIENE_OTR_MUN':     'uint8',
'TIPO_DISCAPACIDAD':    'uint8',
'CAP_EXC':              'uint8',
'CODIGO_ETNIA':         'uint16',
'CODIGO_JORNADA':       'uint8',
'CARACTER':             'uint8',
'CODIGO_ESPECIALIDAD':  'uint8',
'CODIGO_GRADO':         'int8',
'CODIGO_METODOLOGIA':   'uint8',
'REPITENTE':            'uint8',
'SIT_ACAD_ANIO_ANT':    'uint8',
'CON_ALUM_ANIO_ANT':    'uint8',
'ZONA_RESI_ALU':        'uint8',
'EDAD':                 'uint8',
'NIVEL':                'uint8',
'DIR_NUM_LOCALIDAD':    'uint8',
'NIVEL_SISBEN':         'uint8',
'GRADO_OVERAGE':        'uint8',
'OVERAGE':              'uint8',
# SISBEN
'ficha':                'int64',
'comuna':               'uint8',
'barrio':               'uint32',
'nombarrio':            'string',
'direcc':               'string',
'vereda':               'uint8',
'nomvereda':            'string',
'vivienda':             'uint8',
'pared':                'uint8',
'piso':                 'uint8',
'energia':              'uint8',
'alcanta':              'uint8',
'gas':                  'uint8',
'telefono' :            'uint8',
'basura' :              'uint8',
'acueduc' :             'uint8',
'estrato' :             'uint8',
'elimbasura' :          'uint8',
'tcuartosvi' :          'uint8',
'thogar' :              'uint8',
'recolec' :             'uint8',
'tipdir' :              'uint8',
'verifica' :            'uint8',
'hogar' :               'uint8',
'teneviv' :             'uint8',
'tcuartos' :            'uint8',
'tdormir' :             'uint8',
'sanitar' :             'uint8',
'usanitar' :            'uint8',
'usosani' :             'uint8',
'tsanitar' :            'uint8',
'ducha' :               'uint8',
'agua' :                'uint8',
'llega' :               'uint8',
'cuandi' :              'uint8',
'suminis' :             'uint8',
'cuanhoras' :           'uint8',
'preparan' :            'uint8',
'cocina' :              'uint8',
'cocinan' :             'uint8',
'alumbra' :             'uint8',
'usotele' :             'uint8',
'nevera' :              'uint8',
'lavadora' :            'uint8',
'tvcolor' :             'uint8',
'tvcable' :             'uint8',
'calenta' :             'uint8',
'horno' :               'uint8',
'aire' :                'uint8',
'computador' :          'uint8',
'equipo' :              'uint8',
'moto' :                'uint8',
'tractor' :             'uint8',
'tiene_auto' :          'uint8',
'bieraices':            'uint8',
'tpersona' :            'uint8',
'informan' :            'uint8',
'orden' :               'uint8',
'nucleo' :              'uint8',
'parentes' :            'uint8',
'tipodoc' :             'uint8',
'documen':              'string',
'sexo' :                'uint8',
'estcivil' :            'uint8',
'discapa' :             'uint8',
'carnet' :              'uint8',
'asiste' :              'uint8',
'tipoesta' :            'uint8',
'grado' :               'uint8',
'nivel' :               'uint8',
'activi' :              'uint8',
'buscando' :            'uint8',
'ingresos':             'int64',
'edad':                 'uint8',
'conyuvive':            'uint8',
'hijosde':              'int8',
'embaraza' :            'uint8',
'extranjero' :          'uint8',
'pagapor' :             'uint8',
'percibe' :             'uint8',
'serdomes' :            'uint8',
'unigasto' :            'uint8',
'area' :                'uint8',
'nparentes':            'uint8',
'puntaje_sisben_3':     'float32',
'todos_servicios_Pub':  'uint8',
'indice_hacinamiento':  'float16',
# C-600  
'ES_BILIGUE':           'int8',
'TOTAL_DOCENTES':       'uint16',
'TOTAL_ALUMNOS':        'uint16',
'TOTAL_EQUIPO_COMPUTO': 'uint16',
'TOTAL_DOCENTES_CON_TITULO':'uint8',
# ICFES
'num_presentaron_ICFES': 'uint8'
  }

In [3]:
sisben = pd.read_csv('data/2-plata/SISBEN_Depurado_Final.csv', dtype= dict_tipos , index_col = 0)
sisben.shape

C:\Users\diego\anaconda3\lib\site-packages\numpy\lib\arraysetops.py:583: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

(4477942, 88)

In [4]:
sisben.head(2)

,ficha,comuna,barrio,nombarrio,direcc,vereda,nomvereda,vivienda,pared,piso,energia,alcanta,gas,telefono,basura,acueduc,estrato,elimbasura,tcuartosvi,thogar,recolec,tipdir,verifica,hogar,teneviv,tcuartos,tdormir,sanitar,usanitar,usosani,tsanitar,ducha,agua,llega,cuandi,suminis,cuanhoras,preparan,cocina,cocinan,alumbra,usotele,nevera,lavadora,tvcolor,tvcable,calenta,horno,aire,computador,equipo,moto,tractor,tiene_auto,bieraices,tpersona,informan,orden,nucleo,parentes,tipodoc,documen,sexo,estcivil,discapa,carnet,asiste,tipoesta,grado,nivel,activi,buscando,ingresos,edad,conyuvive,hijosde,embaraza,extranjero,pagapor,percibe,serdomes,unigasto,area,nparentes,puntaje_sisben_3,nivel_hacinamiento,todos_servicios_Pub,indice_hacinamiento
0,4551065,20,103203,SIN CORREGIMIENTO,FINCA SAN JOSE,47,BARRIO ZONA URBANA,1,2,4,1,0,0,2,1,0,1,1,6,1,3,0,2,1,4,6,2,2,1,1,1,2,5,0,0,0,0,1,1,6,1,0,0,0,1,2,2,2,2,0,2,0,0,2,1,7,1,4,1,3,1,1032656548,0,5,0,4,1,4,2,2,3,0,25000,12,0,0,0,0,0,1,0,1,0,3,32.279999,Hacinamiento_medio,0,3.5
1,4551065,20,103203,SIN CORREGIMIENTO,FINCA SAN JOSE,47,BARRIO ZONA URBANA,1,2,4,1,0,0,2,1,0,1,1,6,1,3,0,2,1,4,6,2,2,1,1,1,2,5,0,0,0,0,1,1,6,1,0,0,0,1,2,2,2,2,0,2,0,0,2,1,7,1,5,1,3,1,1001169972,0,5,0,4,1,4,5,1,3,0,25000,11,0,0,0,0,0,1,0,1,0,3,32.279999,Hacinamiento_medio,0,3.5

In [5]:
sisben.info(show_counts = True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4477942 entries, 0 to 4477941
Data columns (total 88 columns):
 #   Column               Non-Null Count    Dtype
---  ------               --------------    -----
 0   ficha                4477942 non-null  int64
 1   comuna               4477942 non-null  uint8
 2   barrio               4477942 non-null  uint32
 3   nombarrio            4477942 non-null  string
 4   direcc               4477942 non-null  string
 5   vereda               4477942 non-null  uint8
 6   nomvereda            4477942 non-null  string
 7   vivienda             4477942 non-null  uint8
 8   pared                4477942 non-null  uint8
 9   piso                 4477942 non-null  uint8
 10  energia              4477942 non-null  uint8
 11  alcanta              4477942 non-null  uint8
 12  gas                  4477942 non-null  uint8
 13  telefono             4477942 non-null  uint8
 14  basura               4477942 non-null  uint8
 15  acueduc              4477942 non-null  uint8
 16  estrato              4477942 non-null  uint8
 17  elimbasura           4477942 non-null  uint8
 18  tcuartosvi           4477942 non-null  uint8
 19  thogar               4477942 non-null  uint8
 20  recolec              4477942 non-null  uint8
 21  tipdir               4477942 non-null  uint8
 22  verifica             4477942 non-null  uint8
 23  hogar                4477942 non-null  uint8
 24  teneviv              4477942 non-null  uint8
 25  tcuartos             4477942 non-null  uint8
 26  tdormir              4477942 non-null  uint8
 27  sanitar              4477942 non-null  uint8
 28  usanitar             4477942 non-null  uint8
 29  usosani              4477942 non-null  uint8
 30  tsanitar             4477942 non-null  uint8
 31  ducha                4477942 non-null  uint8
 32  agua                 4477942 non-null  uint8
 33  llega                4477942 non-null  uint8
 34  cuandi               4477942 non-null  uint8
 35  suminis              4477942 non-null  uint8
 36  cuanhoras            4477942 non-null  uint8
 37  preparan             4477942 non-null  uint8
 38  cocina               4477942 non-null  uint8
 39  cocinan              4477942 non-null  uint8
 40  alumbra              4477942 non-null  uint8
 41  usotele              4477942 non-null  uint8
 42  nevera               4477942 non-null  uint8
 43  lavadora             4477942 non-null  uint8
 44  tvcolor              4477942 non-null  uint8
 45  tvcable              4477942 non-null  uint8
 46  calenta              4477942 non-null  uint8
 47  horno                4477942 non-null  uint8
 48  aire                 4477942 non-null  uint8
 49  computador           4477942 non-null  uint8
 50  equipo               4477942 non-null  uint8
 51  moto                 4477942 non-null  uint8
 52  tractor              4477942 non-null  uint8
 53  tiene_auto           4477942 non-null  uint8
 54  bieraices            4477942 non-null  uint8
 55  tpersona             4477942 non-null  uint8
 56  informan             4477942 non-null  uint8
 57  orden                4477942 non-null  uint8
 58  nucleo               4477942 non-null  uint8
 59  parentes             4477942 non-null  uint8
 60  tipodoc              4477942 non-null  uint8
 61  documen              4477942 non-null  string
 62  sexo                 4477942 non-null  uint8
 63  estcivil             4477942 non-null  uint8
 64  discapa              4477942 non-null  uint8
 65  carnet               4477942 non-null  uint8
 66  asiste               4477942 non-null  uint8
 67  tipoesta             4477942 non-null  uint8
 68  grado                4477942 non-null  uint8
 69  nivel                4477942 non-null  uint8
 70  activi               4477942 non-null  uint8
 71  buscando             4477942 non-null  uint8
 72  ingresos             4477942 non-null  int64
 73  edad                 4477942 non-null  uint8
 74  conyuvive            4477942 non-null  uint8
 75  hijosde              4477942 non-null  int8
 76  embaraza             4477942 non-null  uint8
 77  extranjero           4477942 non-null  uint8
 78  pagapor              4477942 non-null  uint8
 79  percibe              4477942 non-null  uint8
 80  serdomes             4477942 non-null  uint8
 81  unigasto             4477942 non-null  uint8
 82  area                 4477942 non-null  uint8
 83  nparentes            4477942 non-null  uint8
 84  puntaje_sisben_3     4477942 non-null  float32
 85  nivel_hacinamiento   4477942 non-null  object
 86  todos_servicios_Pub  4477942 non-null  uint8
 87  indice_hacinamiento  4477942 non-null  float16
dtypes: float16(1), float32(1), int64(2), int8(1), object(1), string(4), uint32(1), uint8(77)
memory usage: 649.1+ MB

In [6]:
sisben['tiene_auto'].replace({2:0}, inplace = True)

In [14]:
sisben.tiene_auto.unique()

array([0, 1], dtype=int64)

##  SIMAT

In [7]:
simat =  pd.read_csv('data/2-plata/Consolidado_SIMAT_Depurado.csv', dtype= dict_tipos , index_col = 0)
simat.head(2)

C:\Users\diego\anaconda3\lib\site-packages\numpy\lib\arraysetops.py:583: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

,ANO_INF,CODIGO_DANE,CODIGO_DANE_SEDE,TIPO_DOCUMENTO,NRO_DOCUMENTO,DIRECCION_RESIDENCIA,RES_DEPTO,RES_MUN,ESTRATO,SISBEN,FECHA_NACIMIENTO,GENERO,POB_VICT_CONF,PROVIENE_SECTOR_PRIV,PROVIENE_OTR_MUN,TIPO_DISCAPACIDAD,CAP_EXC,CODIGO_ETNIA,CODIGO_JORNADA,CARACTER,CODIGO_ESPECIALIDAD,CODIGO_GRADO,CODIGO_METODOLOGIA,REPITENTE,SIT_ACAD_ANIO_ANT,CON_ALUM_ANIO_ANT,ZONA_RESI_ALU,EDAD,NIVEL,DIR_NUM_LOCALIDAD,NIVEL_SISBEN,GRADO_OVERAGE,OVERAGE
0,2017,111001000078,111001000078,2,00010803853,CL 69 A 105 F 67,11,1,2,0.010002,2000-01-08,F,9,N,N,0,9,0,6,1,5,10,1,0,1,9,1,17,4,16,1,90,1
1,2017,111001000078,111001014834,3,05057637,CL 34 SUR 40 A 51,11,1,3,NaN,2012-06-13,F,9,N,N,0,9,0,3,0,0,0,1,0,0,9,1,4,1,16,0,100,0

In [8]:
simat['GENERO'].replace({'M': 1, 'F':0}, inplace = True)

In [9]:
simat['PROVIENE_SECTOR_PRIV'].replace({'S': 1, 'N':0}, inplace = True)

In [11]:
simat['PROVIENE_OTR_MUN'].replace({'S': 1, 'N':0}, inplace = True)

In [13]:
simat.GENERO.unique()

array([0, 1], dtype=int64)

In [12]:
simat_2020 = simat[simat['ANO_INF'] == 2020]

## Super Merge- SIMAT-SISBEN todos los a√±os

In [15]:
# Primero verificamos que no hayan varias columnas con el mismo nombre, pues la llave es el nombre de la columna
set(sisben.columns).intersection(set(simat.columns)) # Conjunto vacio

set()

In [16]:
# Creamos la llave. Cambiamos la columna 'documen' por 'NRO_DOCUMENTO' para hacer el merge
sisben.rename(columns = {'documen': 'NRO_DOCUMENTO'}, inplace = True)

In [17]:
sisben.NRO_DOCUMENTO.head()

0    1032656548
1    1001169972
2    1022976467
3    1051472248
4    1022983348
Name: NRO_DOCUMENTO, dtype: string

In [18]:
# Super merge
super_merge = pd.merge(simat, sisben)

In [19]:
super_merge.head(1)

,ANO_INF,CODIGO_DANE,CODIGO_DANE_SEDE,TIPO_DOCUMENTO,NRO_DOCUMENTO,DIRECCION_RESIDENCIA,RES_DEPTO,RES_MUN,ESTRATO,SISBEN,FECHA_NACIMIENTO,GENERO,POB_VICT_CONF,PROVIENE_SECTOR_PRIV,PROVIENE_OTR_MUN,TIPO_DISCAPACIDAD,CAP_EXC,CODIGO_ETNIA,CODIGO_JORNADA,CARACTER,CODIGO_ESPECIALIDAD,CODIGO_GRADO,CODIGO_METODOLOGIA,REPITENTE,SIT_ACAD_ANIO_ANT,CON_ALUM_ANIO_ANT,ZONA_RESI_ALU,EDAD,NIVEL,DIR_NUM_LOCALIDAD,NIVEL_SISBEN,GRADO_OVERAGE,OVERAGE,ficha,comuna,barrio,nombarrio,direcc,vereda,nomvereda,vivienda,pared,piso,energia,alcanta,gas,telefono,basura,acueduc,estrato,elimbasura,tcuartosvi,thogar,recolec,tipdir,verifica,hogar,teneviv,tcuartos,tdormir,sanitar,usanitar,usosani,tsanitar,ducha,agua,llega,cuandi,suminis,cuanhoras,preparan,cocina,cocinan,alumbra,usotele,nevera,lavadora,tvcolor,tvcable,calenta,horno,aire,computador,equipo,moto,tractor,tiene_auto,bieraices,tpersona,informan,orden,nucleo,parentes,tipodoc,sexo,estcivil,discapa,carnet,asiste,tipoesta,grado,nivel,activi,buscando,ingresos,edad,conyuvive,hijosde,embaraza,extranjero,pagapor,percibe,serdomes,unigasto,area,nparentes,puntaje_sisben_3,nivel_hacinamiento,todos_servicios_Pub,indice_hacinamiento
0,2017,111001000078,111001000078,5,1000003730,CR 51 D # 35 SUR - 45,11,1,3,43.90625,2002-04-23,0,9,0,0,0,9,0,6,0,0,9,1,0,1,9,1,14,3,16,1,100,0,4385957,16,4407,ALCALA,CL 36 SUR 51 04 PI 2 AP 202,0,BARRIO ZONA URBANA,1,1,2,1,1,1,1,1,1,3,1,3,1,3,1,1,1,1,3,2,1,1,1,1,1,1,1,0,1,0,1,1,2,1,1,1,0,1,1,2,2,2,0,1,0,0,0,2,5,2,3,2,4,2,0,5,0,3,1,5,3,1,3,0,0,9,0,2,0,0,0,0,0,1,1,3,43.919998,Hacinamiento_medio,1,2.5

In [20]:
super_merge.shape

(2749433, 120)

In [21]:
# Coincide el n√∫mero con el merge previo del 2020 de 467167
(super_merge.ANO_INF == 2020).value_counts()

False    2282266
True      467167
Name: ANO_INF, dtype: int64

In [22]:
super_merge.to_csv('data/3-oro/Super_Merge.csv')

In [15]:
super_merge = pd.read_csv('data/3-oro/Super_Merge.csv', index_col = 0 , dtype= dict_tipos)

C:\Users\diego\anaconda3\lib\site-packages\numpy\lib\arraysetops.py:583: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [16]:
super_merge.info(show_counts = True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2749433 entries, 0 to 2749432
Columns: 120 entries, ANO_INF to indice_hacinamiento
dtypes: float16(2), float32(1), int64(2), int8(2), object(2), string(5), uint16(3), uint32(1), uint64(2), uint8(100)
memory usage: 566.4+ MB

In [17]:
super_merge_2019 = super_merge[super_merge['ANO_INF']== 2019]

In [18]:
super_merge_2019.info(show_counts = True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 479536 entries, 2 to 2634811
Columns: 120 entries, ANO_INF to indice_hacinamiento
dtypes: float16(2), float32(1), int64(2), int8(2), object(2), string(5), uint16(3), uint32(1), uint64(2), uint8(100)
memory usage: 98.8+ MB

# MERGE PARA 2020 INCLUYENDO ICFES & C-600

In [24]:
super_merge_2020 = super_merge[super_merge['ANO_INF'] == 2020]

## C-600 -2020

In [25]:
c_600 = pd.read_csv('data/2-plata/C600_DATA.csv', index_col = 0)

In [26]:
c_600.head(1)

,SEDE_CODIGO,ES_BILINGUE,TOTAL_DOCENTES,TOTAL_ALUMNOS,TOTAL_EQUIPO_COMPUTO,ALUMN_POR_DOCENTE,COMPU_POR_ALUMN,TOTAL_DOCENTES_CON_TITULO,PROP_DOCENTES_CON_TITULO
1,111001000078,NO,27,627,231.0,23.222222,0.368421,24,0.888889

In [27]:
c_600.dtypes

SEDE_CODIGO                    int64
ES_BILINGUE                   object
TOTAL_DOCENTES                 int64
TOTAL_ALUMNOS                  int64
TOTAL_EQUIPO_COMPUTO         float64
ALUMN_POR_DOCENTE            float64
COMPU_POR_ALUMN              float64
TOTAL_DOCENTES_CON_TITULO      int64
PROP_DOCENTES_CON_TITULO     float64
dtype: object

### Bilingue

In [28]:
c_600['ES_BILINGUE'].unique()

array(['NO', 'SÔøΩ'], dtype=object)

In [29]:
def dict_bool(x):
    if x['ES_BILINGUE'] == 'NO':
        valor = 0
    else:
        valor = 1
    return valor

In [30]:
c_600['ES_BILINGUE'][c_600['ES_BILINGUE'] != 'NO']

47     SÔøΩ
341    SÔøΩ
358    SÔøΩ
374    SÔøΩ
490    SÔøΩ
491    SÔøΩ
529    SÔøΩ
536    SÔøΩ
540    SÔøΩ
556    SÔøΩ
560    SÔøΩ
599    SÔøΩ
605    SÔøΩ
673    SÔøΩ
Name: ES_BILINGUE, dtype: object

In [31]:
c_600['ES_BILINGUE'] = c_600[['SEDE_CODIGO', 'ES_BILINGUE']].apply(dict_bool, axis = 1)

In [32]:
c_600['ES_BILINGUE'][c_600['ES_BILINGUE'] != 0]

47     1
341    1
358    1
374    1
490    1
491    1
529    1
536    1
540    1
556    1
560    1
599    1
605    1
673    1
Name: ES_BILINGUE, dtype: int64

In [33]:
c_600['ES_BILINGUE'].unique()

array([0, 1], dtype=int64)

## TODAL DOCENTES

In [34]:
c_600['TOTAL_DOCENTES'].unique()

array([ 27,  90, 116,  14, 110,  38,  28,  49,  81,  60, 180, 145,  92,
        20,  39,  37,  59, 115,   9,  45,  80,  87,  78, 128,  55,  96,
        97, 123,  51,  58,  31,  64, 105, 185,  98,   7,  16,  50,  25,
        24,  18,  15,  34,  44,   8,  61,  76, 101,  12,  22,  19,  43,
        68,  83,  23,  11,   6,  10,   4,  21,  54, 136,  13,  42,  17,
        26, 107,  52,  41,  67,  36,  82, 111, 104,  85,  84,  69,  30,
        53,  47,  77,  40,  72,  29,  32,  66,  74,  46,  48, 124,  62,
        57, 232,  75, 108, 190,  56,  99, 218, 144,  79,  65,  88,  70,
        94, 102,  35,  71, 112,  33, 134, 113, 117, 131,  63,  73, 120,
       147, 122, 196, 125, 118, 119,  95, 161, 129, 261, 126, 114, 168,
         5,  86, 195,   2,   1,   3, 159], dtype=int64)

In [35]:
max(c_600['TOTAL_DOCENTES']) ##u int16

261

In [37]:
min(c_600['TOTAL_DOCENTES'])

1

In [38]:
c_600['TOTAL_DOCENTES'] = c_600['TOTAL_DOCENTES'].astype('uint16')

## Total Alumnos

In [39]:
c_600['TOTAL_ALUMNOS'].unique()

array([ 627, 1482, 3096,  299, 1509,  691,  428, 1175, 2548, 1254, 4081,
       3304, 2551,  556,  925,  776, 1370, 1179, 2843,  137,  732, 2188,
       2577, 4206, 1049, 1082, 2361, 1025, 2215, 1913, 2746, 1019,  876,
       1553, 1365,  604, 1543, 2102, 2600,  587, 5484, 1932,  115,  516,
        273, 1133,  566,  388, 1118,  573,  309,  623,  226,  818, 1756,
        472, 1006,  175, 1261, 1715, 2318,  353,  663,  419, 1143,  656,
        187,  875,  614, 1095,  310,  370, 2487, 2103,  644,  536,  263,
        140,  207, 1279,  314,  315,  200,  165,   98,  198, 1339,  483,
        279,  469, 1975, 1430, 1506, 3115, 2367, 2015,  862,  712, 1081,
        495, 1015,  264, 1400, 1210,  130,  313,  168,  406,  194,  271,
        294,  762,  578,  837, 2498, 2682, 1396,  367, 1262,  543,  664,
       2093,  595,  995, 1087,  364,  696, 2684, 2331, 2041,  448, 2168,
        258, 2392,  845, 1767,  133, 1455,  157,  759,  403,  381, 1009,
        770,  576,  372,  217,  455,  701,  470,  439,  261,  434,  426,
        950,  418,  878, 1475,  564, 1101, 1901,  527,  750,  635,  575,
        898,  435,  427,  554, 1077,  163,  153,  325, 2567, 1886,  392,
        463,  882,  751,  460,  735,  530, 1454,  441,  357, 1652, 2648,
        398,  662,  464, 1973, 1511, 1308,  827, 1573, 1799,  872,  446,
        742,  269, 1538,  454,  582, 1289, 2136, 1075,  342,  411,  586,
        902, 1125, 1441,  420,  702,  339,  174, 1752,  733,  224, 1057,
        393,  846,  765,  990,  978, 1182,  758, 1250, 1114,  939,  734,
       3419,  912, 1395, 1333,  154, 2595, 1358,  225, 5694,  538, 3326,
       1386,  484, 1811, 2735, 2127, 1557,  340, 1720, 4638,  823,  966,
        122, 1342,  487, 1097, 1372,  500, 1040,  782, 1647, 5256, 3549,
        511, 1971, 2388,  945,  741, 1068, 1152,  838,  880,  485, 2023,
        438,  397, 1989, 1481,  659,  525, 1587,  373,  482,  679,  836,
        410, 1251,  396,  486, 2206,  678,  219,  430, 1070,  375,  562,
       2375,  320, 2305, 2515, 1067,  653, 1407,  692, 2897,  617,  855,
       1450, 1096, 1616,  645,  513, 1242, 1650, 1110,  938, 3241,  568,
        781, 1193,  593, 1138, 1789,  791,  341, 1115, 1499, 2087, 1624,
       1888, 1119, 1617,  202, 1500, 1589,  996,  386, 1788,  967,  812,
        461,  671,  327,  600, 2027,  471, 3030, 1820, 1035,  332,  987,
       1127, 1091, 3862, 3441, 2697, 2077, 1374, 1387,  474, 2799,  254,
        637,  580, 1050, 2144,  643, 1729,  962, 1112,   34, 1476,  524,
        640, 1485, 3557,  176, 2947,  813,  973,  360, 2532,  498, 1618,
        150, 2133,  590,  385,  881, 1444,  408,  457, 1733, 1021,  144,
        286, 1227, 1292, 1328, 1841, 1122, 1121,  768, 1054, 1232, 1377,
       1777, 1381, 1442, 1202,  929,  639, 1183, 1105, 1373, 2274, 1371,
       1224, 1383, 1208, 1429,  685, 1415, 1360, 1397,  610,  387, 1282,
       3571,  594,  626, 2199, 3254, 2241, 4232, 3396, 4598, 1836, 1702,
       1154, 1795, 2132, 2718, 1027,  550,  234, 1100,  415,  221,  424,
       3490, 3663, 2971, 1066, 1941, 2085, 2176, 2963, 1505,  272,  390,
       2008,  450, 3031, 2369, 1711, 3604,  535, 2541, 2691, 3223, 6704,
       2981, 1985, 2552, 1823, 2141,  351, 1356, 3297,  986, 1734,  284,
       1235,  413,  328,  240,  597,  605, 1847, 1026,  366,  120,  831,
        520,  298,  509, 1044, 1561, 1440,  466,  771,  924,  920, 2847,
       2937,  526,  787, 1586, 4333,  451,  401,  856, 2012,  334, 1853,
        152, 1126,  936, 1389, 1631, 3158,  405,  833,  145,  611, 1917,
        127,  539, 1206, 1610, 2105,  991,  354,  288,  752,  684,  642,
       1008,  886,  661, 1547,  705,  931, 3383, 1472, 4358,  445,  558,
        241,  324, 1835,  887,  961, 1213,  409,  724,  676,  112,  890,
       1061, 2446, 1120,  172,  777,  278,    9,    5,  715,  919, 2045,
        885, 2717,  937, 1305, 1195,  316,   15, 1657,   47,  141, 1322,
         18,   94,   19,   63, 1253,   11,   14,  108,    7,    8,   24,
        577,   45,    6,    4,   46,   27,   13,  969,   67,   44,  540,
        344,   10,   29, 1497,  232, 1959,  259,  522,  465,  906, 1535,
        806,   64,  728, 4246,  245, 1551,  816,  588,  109, 2445,  467],
      dtype=int64)

In [40]:
max(c_600['TOTAL_ALUMNOS']) ## uint16

6704

In [41]:
min(c_600['TOTAL_ALUMNOS'])

4

In [42]:
c_600['TOTAL_ALUMNOS'] = c_600['TOTAL_ALUMNOS'].astype('uint16')

## TOTAL_EQUIPO_COMPUTO

In [43]:
max(c_600['TOTAL_EQUIPO_COMPUTO'])

1171.0

In [44]:
min(c_600['TOTAL_EQUIPO_COMPUTO'])

0.0

In [45]:
np.isnan(c_600['TOTAL_EQUIPO_COMPUTO']).value_counts()

False    739
True       7
Name: TOTAL_EQUIPO_COMPUTO, dtype: int64

In [46]:
c_600['TOTAL_EQUIPO_COMPUTO'].replace({np.nan : 0}, inplace = True)

In [47]:
np.isnan(c_600['TOTAL_EQUIPO_COMPUTO']).value_counts()

False    746
Name: TOTAL_EQUIPO_COMPUTO, dtype: int64

In [49]:
c_600['TOTAL_EQUIPO_COMPUTO']= c_600['TOTAL_EQUIPO_COMPUTO'].astype('uint16')

In [50]:
max(c_600['TOTAL_EQUIPO_COMPUTO'])

1171

## ALUM POR DOCENTE

In [52]:
np.isinf(c_600['ALUMN_POR_DOCENTE']).value_counts()

False    746
Name: ALUMN_POR_DOCENTE, dtype: int64

In [53]:
np.isnan(c_600['ALUMN_POR_DOCENTE']).value_counts()

False    746
Name: ALUMN_POR_DOCENTE, dtype: int64

In [54]:
max(c_600['ALUMN_POR_DOCENTE'])

46.1052631578947

In [55]:
min(c_600['ALUMN_POR_DOCENTE']) ## NADA QUE HACER AQUI

2.5

## Compu por alum

In [56]:
colsss = c_600.columns.tolist()

In [58]:
np.isnan(c_600['COMPU_POR_ALUMN']).value_counts()

False    739
True       7
Name: COMPU_POR_ALUMN, dtype: int64

In [59]:
c_600['COMPU_POR_ALUMN'].replace({np.nan:0}, inplace = True)

In [60]:
np.isnan(c_600['COMPU_POR_ALUMN']).value_counts()

False    746
Name: COMPU_POR_ALUMN, dtype: int64

In [61]:
np.isinf(c_600['COMPU_POR_ALUMN']).value_counts()

False    746
Name: COMPU_POR_ALUMN, dtype: int64

In [62]:
max(c_600['COMPU_POR_ALUMN'])

5.6

In [63]:
min(c_600['COMPU_POR_ALUMN'])

0.0

## TOTAL DOCENTES CON TITULO

In [65]:
max(c_600['TOTAL_DOCENTES_CON_TITULO'])

161

In [66]:
min(c_600['TOTAL_DOCENTES_CON_TITULO']) # uint8

0

In [67]:
c_600['TOTAL_DOCENTES_CON_TITULO'] = c_600['TOTAL_DOCENTES_CON_TITULO'].astype('uint8')

## PROP_DOCENTES TITULO

In [68]:
np.isnan(c_600['PROP_DOCENTES_CON_TITULO']).value_counts()

False    746
Name: PROP_DOCENTES_CON_TITULO, dtype: int64

In [69]:
max(c_600['PROP_DOCENTES_CON_TITULO'])

1.0

In [70]:
min(c_600['PROP_DOCENTES_CON_TITULO'])

0.0

In [71]:
np.isinf(c_600['PROP_DOCENTES_CON_TITULO']).value_counts()

False    746
Name: PROP_DOCENTES_CON_TITULO, dtype: int64

# Merge con c-600

In [72]:
# Verficamos que no hayan columnas en comun
set(super_merge_2020.columns).intersection(set(c_600.columns)) # conjuntpo vacio

set()

In [73]:
# Creamos la llave
c_600.rename(columns = {'SEDE_CODIGO': 'CODIGO_DANE_SEDE'}, inplace = True)

In [74]:
merge_c_600 = pd.merge(super_merge_2020, c_600)

In [75]:
merge_c_600.shape

(466109, 128)

## ICFES - 2020

In [76]:
ICFES_20 = pd.read_csv('data/2-plata/Puntaje2020_1.csv' , index_col=0)

In [77]:
ICFES_20.head(1)

       COD_DANE  promepuntaje  numeroestudia
1  111001000078    262.909091             33

In [78]:
ICFES_20.dtypes

COD_DANE           int64
promepuntaje     float64
numeroestudia      int64
dtype: object

## PROM PUNTAHJE

In [79]:
np.isnan(ICFES_20['promepuntaje']).value_counts()

False    388
Name: promepuntaje, dtype: int64

In [80]:
np.isinf(ICFES_20['promepuntaje']).value_counts()

False    388
Name: promepuntaje, dtype: int64

In [81]:
max(ICFES_20['promepuntaje'])

315.111111111111

In [82]:
min(ICFES_20['promepuntaje'])

165.0

## numeroestudian

In [83]:
ICFES_20['numeroestudia'].unique()

array([ 33,  37,  59,  61,  14,  36,  63,  53,  54, 106, 118,  55,  48,
        46,  52,  49, 116,  76, 140, 122,  60, 132,  23, 119, 130,  47,
        43,  34,  15,  71,  70, 157,  73,  21,  39,  45,  89,  28,  19,
        44,  35,  13,  42,  11,  58,  22, 103,  51,  26,  79,  41,  77,
        72,   6,   1,  20,  25,  50,  24,  64,  16,  40,  10,  86,  31,
        27,  30, 102,  80,  66, 214,  96,  32,  12,  75,   9,  57, 161,
        65,   7,  17,  29,  84, 105, 104,  74,  18,  81,  69,  38, 111,
        97, 114,  94,  62, 108, 107, 136, 139, 110,   3,   5,  56,  95,
         2, 147], dtype=int64)

In [84]:
np.isnan(ICFES_20['numeroestudia']).value_counts()

False    388
Name: numeroestudia, dtype: int64

In [85]:
np.isinf(ICFES_20['numeroestudia']).value_counts()

False    388
Name: numeroestudia, dtype: int64

In [86]:
max(ICFES_20['numeroestudia']) #uint8

214

In [87]:
min(ICFES_20['numeroestudia'])

1

In [88]:
ICFES_20.rename(columns = {'numeroestudia': 'num_presentaron_ICFES'}, inplace = True)

In [89]:
ICFES_20.columns

Index(['COD_DANE', 'promepuntaje', 'num_presentaron_ICFES'], dtype='object')

In [90]:
ICFES_20.rename(columns = {'COD_DANE': 'CODIGO_DANE'}, inplace = True)

In [91]:
merge_2020_final = pd.merge(merge_c_600, ICFES_20)

In [92]:
merge_2020_final.shape

(457047, 130)

In [93]:
merge_2020_final.REPITENTE.value_counts() / (merge_2020_final.shape[0])

0    0.958505
1    0.041495
Name: REPITENTE, dtype: float64

In [94]:
merge_2020_final.to_csv('data/3-oro/Merge_2020_ICFES_C600.csv')

### Super Merge 2019

In [20]:
super_merge_2019.shape

(479536, 120)

In [21]:
c_600_19 = pd.read_csv('data/2-plata/C600_DATA_2019.csv', index_col = 0)

In [22]:
c_600_19

,SEDE_CODIGO,ES_BILINGUE,TOTAL_DOCENTES,TOTAL_ALUMNOS,TOTAL_EQUIPO_COMPUTO,ALUMN_POR_DOCENTE,COMPU_POR_ALUMN,TOTAL_DOCENTES_CON_TITULO,PROP_DOCENTES_CON_TITULO
1,111001000078,NO,29,561,319,19.344828,0.568627,28,0.965517
2,111001000124,NO,88,1297,40,14.738636,0.030840,27,0.306818
3,111001000132,NO,116,2992,347,25.793103,0.115976,97,0.836207
4,111001000213,NO,13,296,46,22.769231,0.155405,13,1.000000
5,111001000272,NO,108,1433,440,13.268519,0.307048,86,0.796296
...,...,...,...,...,...,...,...,...,...
747,311001100926,NO,6,104,67,17.333333,0.644231,0,0.000000
748,311001107629,NO,20,505,84,25.250000,0.166337,9,0.450000
749,311102000141,NO,148,2945,222,19.898649,0.075382,13,0.087838
750,311769001030,NO,24,487,25,20.291667,0.051335,1,0.041667
751,411102000293,NO,40,714,56,17.850000,0.078431,5,0.125000

In [23]:
def dict_bool(x):
    if x['ES_BILINGUE'] == 'NO':
        valor = 0
    else:
        valor = 1
    return valor

In [25]:
c_600_19['ES_BILINGUE'].unique()

array(['NO', 'SÔøΩ'], dtype=object)

In [27]:
c_600_19['ES_BILINGUE'][c_600_19['ES_BILINGUE'] != 'NO']

47     SÔøΩ
300    SÔøΩ
342    SÔøΩ
375    SÔøΩ
492    SÔøΩ
493    SÔøΩ
530    SÔøΩ
537    SÔøΩ
541    SÔøΩ
558    SÔøΩ
562    SÔøΩ
595    SÔøΩ
596    SÔøΩ
608    SÔøΩ
669    SÔøΩ
742    SÔøΩ
Name: ES_BILINGUE, dtype: object

In [28]:
c_600_19['ES_BILINGUE'] = c_600_19[['SEDE_CODIGO', 'ES_BILINGUE']].apply(dict_bool, axis = 1)

In [29]:
c_600_19['ES_BILINGUE'][c_600_19['ES_BILINGUE'] != 0]

47     1
300    1
342    1
375    1
492    1
493    1
530    1
537    1
541    1
558    1
562    1
595    1
596    1
608    1
669    1
742    1
Name: ES_BILINGUE, dtype: int64

In [32]:
for x in c_600_19.columns[2:]:
    print(np.isinf(c_600_19[x]).value_counts() , x)
    print( np.isnan(c_600_19[x]).value_counts(), x)
    print('max', max(c_600_19[x]), 'min',min(c_600_19[x]), x)
    print('-------------------------------')

False    751
Name: TOTAL_DOCENTES, dtype: int64 TOTAL_DOCENTES
False    751
Name: TOTAL_DOCENTES, dtype: int64 TOTAL_DOCENTES
max 261 min 1 TOTAL_DOCENTES
-------------------------------
False    751
Name: TOTAL_ALUMNOS, dtype: int64 TOTAL_ALUMNOS
False    751
Name: TOTAL_ALUMNOS, dtype: int64 TOTAL_ALUMNOS
max 6637 min 4 TOTAL_ALUMNOS
-------------------------------
False    751
Name: TOTAL_EQUIPO_COMPUTO, dtype: int64 TOTAL_EQUIPO_COMPUTO
False    751
Name: TOTAL_EQUIPO_COMPUTO, dtype: int64 TOTAL_EQUIPO_COMPUTO
max 1171 min 0 TOTAL_EQUIPO_COMPUTO
-------------------------------
False    751
Name: ALUMN_POR_DOCENTE, dtype: int64 ALUMN_POR_DOCENTE
False    751
Name: ALUMN_POR_DOCENTE, dtype: int64 ALUMN_POR_DOCENTE
max 44.7894736842105 min 2.5 ALUMN_POR_DOCENTE
-------------------------------
False    751
Name: COMPU_POR_ALUMN, dtype: int64 COMPU_POR_ALUMN
False    751
Name: COMPU_POR_ALUMN, dtype: int64 COMPU_POR_ALUMN
max 5.6 min 0.0 COMPU_POR_ALUMN
-------------------------------
False    751
Name: TOTAL_DOCENTES_CON_TITULO, dtype: int64 TOTAL_DOCENTES_CON_TITULO
False    751
Name: TOTAL_DOCENTES_CON_TITULO, dtype: int64 TOTAL_DOCENTES_CON_TITULO
max 192 min 0 TOTAL_DOCENTES_CON_TITULO
-------------------------------
False    751
Name: PROP_DOCENTES_CON_TITULO, dtype: int64 PROP_DOCENTES_CON_TITULO
False    751
Name: PROP_DOCENTES_CON_TITULO, dtype: int64 PROP_DOCENTES_CON_TITULO
max 1.0 min 0.0 PROP_DOCENTES_CON_TITULO
-------------------------------

In [33]:
c_600_19.rename(columns = {'SEDE_CODIGO': 'CODIGO_DANE_SEDE'}, inplace = True)

In [34]:
merge_c_600 = pd.merge(super_merge_2019, c_600_19)

In [35]:
merge_c_600.shape

(478099, 128)

### ICFES

In [36]:
ICFES_19 = pd.read_csv('data/2-plata/Puntaje2019.csv' , index_col=0)

In [37]:
ICFES_19.head()

       COD_DANE  promepuntaje  numeroestudia
1  111001000078    265.478873             71
2  111001000124    267.538462             52
3  111001000132    252.704082             98
4  111001000272    276.765306             98
5  111001000612    307.555556             27

In [38]:
for x in ICFES_19.columns[1:]:
    print(np.isinf(ICFES_19[x]).value_counts() , x)
    print( np.isnan(ICFES_19[x]).value_counts(), x)
    print('max', max(ICFES_19[x]), 'min', min(ICFES_19[x]), x)
    print('-------------------------------')

False    385
Name: promepuntaje, dtype: int64 promepuntaje
False    385
Name: promepuntaje, dtype: int64 promepuntaje
max 324.5 min 207.913043478261 promepuntaje
-------------------------------
False    385
Name: numeroestudia, dtype: int64 numeroestudia
False    385
Name: numeroestudia, dtype: int64 numeroestudia
max 328 min 4 numeroestudia
-------------------------------

In [39]:
ICFES_19.rename(columns = {'numeroestudia': 'num_presentaron_ICFES'}, inplace = True)

In [40]:
ICFES_19.rename(columns = {'COD_DANE': 'CODIGO_DANE'}, inplace = True)

In [41]:
merge_2019_final = pd.merge(merge_c_600, ICFES_19)

In [43]:
merge_2019_final.shape

(467110, 130)

In [45]:
merge_2019_final.to_csv('data/3-oro/Merge_2019_ICFES_C600.csv')

### Concat

In [44]:
merge_2020 =  pd.read_csv('data/3-oro/Merge_2020_ICFES_C600.csv' , index_col=0, dtype = dict_tipos)

In [48]:
lista1 =  merge_2019_final.columns.to_list()
lista2 = merge_2020.columns.to_list()

In [49]:
lista1 == lista2

True

In [50]:
concat_2019_20 = pd.concat([merge_2019_final, merge_2020], axis=0)

In [51]:
merge_2019_final.shape

(467110, 130)

In [52]:
merge_2020.shape

(457047, 130)

In [53]:
concat_2019_20.shape

(924157, 130)

In [55]:
concat_2019_20.head()

,ANO_INF,CODIGO_DANE,CODIGO_DANE_SEDE,TIPO_DOCUMENTO,NRO_DOCUMENTO,DIRECCION_RESIDENCIA,RES_DEPTO,RES_MUN,ESTRATO,SISBEN,FECHA_NACIMIENTO,GENERO,POB_VICT_CONF,PROVIENE_SECTOR_PRIV,PROVIENE_OTR_MUN,TIPO_DISCAPACIDAD,CAP_EXC,CODIGO_ETNIA,CODIGO_JORNADA,CARACTER,CODIGO_ESPECIALIDAD,CODIGO_GRADO,CODIGO_METODOLOGIA,REPITENTE,SIT_ACAD_ANIO_ANT,CON_ALUM_ANIO_ANT,ZONA_RESI_ALU,EDAD,NIVEL,DIR_NUM_LOCALIDAD,NIVEL_SISBEN,GRADO_OVERAGE,OVERAGE,ficha,comuna,barrio,nombarrio,direcc,vereda,nomvereda,vivienda,pared,piso,energia,alcanta,gas,telefono,basura,acueduc,estrato,elimbasura,tcuartosvi,thogar,recolec,tipdir,verifica,hogar,teneviv,tcuartos,tdormir,sanitar,usanitar,usosani,tsanitar,ducha,agua,llega,cuandi,suminis,cuanhoras,preparan,cocina,cocinan,alumbra,usotele,nevera,lavadora,tvcolor,tvcable,calenta,horno,aire,computador,equipo,moto,tractor,tiene_auto,bieraices,tpersona,informan,orden,nucleo,parentes,tipodoc,sexo,estcivil,discapa,carnet,asiste,tipoesta,grado,nivel,activi,buscando,ingresos,edad,conyuvive,hijosde,embaraza,extranjero,pagapor,percibe,serdomes,unigasto,area,nparentes,puntaje_sisben_3,nivel_hacinamiento,todos_servicios_Pub,indice_hacinamiento,ES_BILINGUE,TOTAL_DOCENTES,TOTAL_ALUMNOS,TOTAL_EQUIPO_COMPUTO,ALUMN_POR_DOCENTE,COMPU_POR_ALUMN,TOTAL_DOCENTES_CON_TITULO,PROP_DOCENTES_CON_TITULO,promepuntaje,num_presentaron_ICFES
0,2019,111001000078,111001000078,5,1000003730,CR 51 D # 35 SUR - 45,11,1,3,43.0,2002-04-23,0,99,0,0,0,9,0,6,1,5,11,1,0,1,9,1,16,4,16,1,100,0,4385957,16,4407,ALCALA,CL 36 SUR 51 04 PI 2 AP 202,0,BARRIO ZONA URBANA,1,1,2,1,1,1,1,1,1,3,1,3,1,3,1,1,1,1,3,2,1,1,1,1,1,1,1,0,1,0,1,1,2,1,1,1,0,1,1,2,2,2,0,1,0,0,0,2,5,2,3,2,4,2,0,5,0,3,1,5,3,1,3,0,0,9,0,2,0,0,0,0,0,1,1,3,43.919998,Hacinamiento_medio,1,2.500000,0,29,561,319,19.344828,0.568627,28,0.965517,265.478873,71
1,2019,111001000078,111001000078,2,1000004716,CL 29 A SUR # 50 - 41 PL 2,11,1,3,29.0,2003-04-14,0,99,0,0,0,9,0,6,0,0,9,1,0,1,9,1,15,3,16,1,100,0,4304159,16,4407,ALCALA,CL 33 SUR 51 A 47 PI 1 CU 1,0,BARRIO ZONA URBANA,2,1,2,1,1,1,2,1,1,3,1,2,1,3,1,1,1,1,2,2,1,1,2,1,1,1,1,0,1,0,1,2,2,1,0,1,1,1,2,2,2,2,0,2,0,0,0,1,5,2,4,1,3,2,0,5,0,0,1,4,3,1,3,0,0,8,0,0,0,0,0,0,0,1,1,3,29.440001,Hacinamiento_medio,1,2.500000,0,29,561,319,19.344828,0.568627,28,0.965517,265.478873,71
2,2019,111001000078,111001000078,7,1000007657,CL 28 SUR # 51 F - 81,11,1,3,46.0,2003-04-25,0,99,0,0,0,9,0,6,1,5,11,1,0,1,9,1,15,4,16,2,100,0,4304274,16,4407,ALCALA,CL 28 SUR 51 F 81,0,BARRIO ZONA URBANA,1,1,2,1,1,1,1,1,1,3,1,5,4,3,1,1,1,1,1,1,1,1,2,1,1,1,1,0,1,0,1,2,2,1,2,0,0,1,1,2,2,2,0,2,0,0,0,2,3,2,3,1,3,2,0,5,0,3,1,4,3,1,3,0,0,8,0,0,0,0,0,0,0,1,1,3,46.810001,Hacinamiento_medio,1,3.000000,0,29,561,319,19.344828,0.568627,28,0.965517,265.478873,71
3,2019,111001000078,111001000078,5,1000008029,CL 32 SUR # 46 - 84 86,11,1,3,30.0,2003-03-22,0,99,0,0,0,9,0,6,1,5,11,1,0,1,9,1,16,4,16,1,100,0,4279832,16,4407,ALCALA,CL 31 SUR 51 A 88 PI 2,0,BARRIO ZONA URBANA,2,1,2,1,1,1,1,1,1,3,1,2,1,3,1,2,1,1,2,1,1,2,2,1,1,1,1,0,1,0,1,1,2,1,2,1,0,1,1,1,2,2,1,2,0,0,0,2,4,2,3,1,3,2,1,5,0,3,1,4,3,1,3,0,21000,8,0,0,0,0,0,1,0,1,1,3,30.650000,Hacinamiento_medio,1,4.000000,0,29,561,319,19.344828,0.568627,28,0.965517,265.478873,71
4,2019,111001000078,111001000078,2,1000033547,KR 35 A 1 H 32,11,1,2,0.0,2003-05-02,0,99,0,0,0,9,0,6,1,5,10,1,0,1,9,1,15,4,16,1,100,0,4711892,4,1103,VITELMA,CL 6 G SUR 8 34 ESTE,0,BARRIO ZONA URBANA,1,1,2,1,1,1,1,1,1,2,1,4,1,2,1,2,1,1,4,3,1,1,1,2,1,1,1,0,1,0,1,1,2,1,1,1,1,1,2,2,2,2,0,2,0,0,0,2,4,1,4,1,4,2,0,5,0,0,1,4,3,1,3,0,0,10,0,0,0,0,0,0,0,1,1,4,60.119999,Sin_hacinamiento,1,1.333008,0,29,561,319,19.344828,0.568627,28,0.965517,265.478873,71

In [56]:
concat_2019_20.tail()

,ANO_INF,CODIGO_DANE,CODIGO_DANE_SEDE,TIPO_DOCUMENTO,NRO_DOCUMENTO,DIRECCION_RESIDENCIA,RES_DEPTO,RES_MUN,ESTRATO,SISBEN,FECHA_NACIMIENTO,GENERO,POB_VICT_CONF,PROVIENE_SECTOR_PRIV,PROVIENE_OTR_MUN,TIPO_DISCAPACIDAD,CAP_EXC,CODIGO_ETNIA,CODIGO_JORNADA,CARACTER,CODIGO_ESPECIALIDAD,CODIGO_GRADO,CODIGO_METODOLOGIA,REPITENTE,SIT_ACAD_ANIO_ANT,CON_ALUM_ANIO_ANT,ZONA_RESI_ALU,EDAD,NIVEL,DIR_NUM_LOCALIDAD,NIVEL_SISBEN,GRADO_OVERAGE,OVERAGE,ficha,comuna,barrio,nombarrio,direcc,vereda,nomvereda,vivienda,pared,piso,energia,alcanta,gas,telefono,basura,acueduc,estrato,elimbasura,tcuartosvi,thogar,recolec,tipdir,verifica,hogar,teneviv,tcuartos,tdormir,sanitar,usanitar,usosani,tsanitar,ducha,agua,llega,cuandi,suminis,cuanhoras,preparan,cocina,cocinan,alumbra,usotele,nevera,lavadora,tvcolor,tvcable,calenta,horno,aire,computador,equipo,moto,tractor,tiene_auto,bieraices,tpersona,informan,orden,nucleo,parentes,tipodoc,sexo,estcivil,discapa,carnet,asiste,tipoesta,grado,nivel,activi,buscando,ingresos,edad,conyuvive,hijosde,embaraza,extranjero,pagapor,percibe,serdomes,unigasto,area,nparentes,puntaje_sisben_3,nivel_hacinamiento,todos_servicios_Pub,indice_hacinamiento,ES_BILINGUE,TOTAL_DOCENTES,TOTAL_ALUMNOS,TOTAL_EQUIPO_COMPUTO,ALUMN_POR_DOCENTE,COMPU_POR_ALUMN,TOTAL_DOCENTES_CON_TITULO,PROP_DOCENTES_CON_TITULO,promepuntaje,num_presentaron_ICFES
457042,2020,311001107629,311001107629,2,1026256645,CL 77 45 A 03 SUR,11,1,1,72.0,2005-07-23,1,99,0,0,0,9,0,6,0,0,9,1,0,1,9,1,14,3,19,3,100,0,3363106,19,2431,POTOSI,CL 77 BIS SUR 45 05,0,BARRIO ZONA URBANA,1,1,2,1,1,1,1,1,1,1,1,4,1,1,1,2,1,3,4,3,1,1,1,1,1,1,1,0,1,0,1,1,2,1,1,1,1,1,2,2,2,2,1,1,0,0,0,1,9,1,3,1,3,4,1,5,0,3,1,2,0,0,3,0,21000,4,0,0,0,0,0,1,0,1,1,3,65.589996,Hacinamiento_medio,1,3.000000,0,19,457,84,24.052632,0.183807,7,0.368421,310.571429,21
457043,2020,311001107629,311001107629,2,1016595384,TV 65 77 54 SUR PI 1,11,1,1,53.0,2006-01-19,1,99,0,0,0,9,0,6,0,0,9,1,0,1,9,1,14,3,19,3,100,0,3406487,19,2445,CARACOLI,TV 50 A 77 54 SUR PI 2,0,BARRIO ZONA URBANA,1,1,3,1,1,1,2,1,1,1,1,2,1,1,1,2,1,2,2,2,1,1,1,1,1,1,1,0,1,0,1,1,2,1,0,0,0,1,1,2,2,2,0,1,0,0,0,1,3,1,3,1,3,4,0,5,0,0,1,1,0,0,3,0,0,3,0,0,0,0,0,0,0,1,1,3,53.740002,Sin_hacinamiento,1,1.500000,0,19,457,84,24.052632,0.183807,7,0.368421,310.571429,21
457044,2020,311001107629,311001107629,2,1024477229,CL 69 H SUR 48 B 22,11,1,1,30.0,2005-10-15,0,99,0,0,0,9,0,6,0,0,9,1,0,1,9,1,14,3,19,1,100,0,3492160,19,2430,LAS BRISAS,KR 45 C 76 84 SUR PI 2,0,BARRIO ZONA URBANA,1,1,2,1,1,1,1,1,1,1,1,8,1,1,1,1,1,1,4,2,1,1,1,1,1,1,1,0,1,0,1,1,2,1,1,1,0,1,1,2,2,2,1,2,0,0,0,2,5,2,5,1,3,2,1,5,0,3,0,0,0,0,0,0,50000,6,0,0,0,0,0,1,0,1,1,3,30.570000,Hacinamiento_medio,1,2.500000,0,19,457,84,24.052632,0.183807,7,0.368421,310.571429,21
457045,2020,311001107629,311001107629,2,1029141941,KR 73 H 76 A 40 SUR,11,1,1,62.0,2005-07-09,1,99,0,0,0,9,0,6,0,0,9,1,0,1,9,1,14,3,19,3,100,0,110012760632412,19,2445,CARACOLI,KR 73 H # 76 A - 40 SUR PI 1,0,BARRIO ZONA URBANA,1,1,2,1,1,1,0,1,1,1,1,8,1,1,0,1,1,3,5,3,1,1,1,0,0,1,1,0,1,0,1,1,2,0,0,1,1,0,0,0,0,0,1,0,0,0,0,2,8,2,6,1,4,2,0,5,0,3,1,0,2,2,3,0,100000,13,99,3,0,0,0,1,0,1,1,4,50.430000,Hacinamiento_medio,1,2.666016,0,19,457,84,24.052632,0.183807,7,0.368421,310.571429,21
457046,2020,311001107629,311001107629,2,1033690026,KR 45 C 73 B 14 SUR,11,1,1,50.0,2005-08-12,1,99,0,0,0,9,0,6,0,0,9,1,0,1,9,1,14,3,19,2,100,0,3494055,19,2430,LAS BRISAS,KR 45 C 73 B 14 SUR PI 1 AP 2,0,BARRIO ZONA URBANA,1,1,2,1,1,1,1,1,1,1,1,2,1,1,1,2,1,4,2,2,1,1,1,1,1,1,1,0,1,0,1,1,2,1,2,0,0,1,1,2,2,2,0,1,0,0,0,2,4,1,3,1,3,4,1,5,0,4,0,0,0,0,0,0,50000,4,0,0,0,0,0,1,0,1,1,3,50.090000,Sin_hacinamiento,1,2.000000,0,19,457,84,24.052632,0.183807,7,0.368421,310.571429,21

In [57]:
concat_2019_20.to_csv('data/3-oro/Base_Final_concat_19_20.csv')