In [5]:
# Base libraries
import time
import datetime
import os

# Scientific librariesz
import numpy as np
import pandas as pd
from scipy.stats import chi2_contingency

# Visual libraries
import matplotlib.pyplot as plt
import seaborn as sns

# Helper libraries
import xlrd
import pprint
import base64

# Visual setup

# Pandas options
pd.options.display.max_columns = None

## **1. Limpieza De Datos**
---
1. Crear sección de librerias de python
1. Cargar los dataset en la carpeta `1 bronce`
1. Homologar campos en las 3 bases 2019-eficiencia, 2020-eficiencia, 2021, con los campos identificados en el diccionario de datos (identificar las columnas que coinciden en las ters bases)
2. Crear una llave, concatenando el numero de documento con el tipo de documento
3. Teniedo en cuenta la llave del anterior punto, filtrar datos unicos
4. Filtrar para no tener en cuenta los datos nulos  
  * Validar columnas con datos socioeconomicos con valor nulo, con los datos del SISBEN (no tener en cuenta para el 26 de mayo)
5. Crear columna de año den cada base y unirlas (dataset final de trabajo)

Despues de analizar el diccionario del Anexo 6A del año 2021, se seleccionaron las variables mas relevantes para el desarrollo del proyecto, para ello se creo una columna con el nonbre `COLUMNAS A TENER EN CUENTA` con los valores `SI`, `NO`, `SI SIN VALIDAR SED`, `SI PREGUNTAR SED`.

In [8]:
dic_anexo64_2021 =  pd.read_excel('../Diccionario_Anexo6A_31_03_2021_Modificado.xlsx', header=4, index_col=0)
dic_anexo64_2021

,NOMBRE VARIABLE,COLUMNAS A TENER EN CUENTA,ETIQUETA,TIPO DE VARIABLE,LONGITUD,MEDIDA,VALIDACIONES BÁSICAS O VALORES DE LA VARIABLE,VALIDACIONES,DESCRIPCION,OBSERVACIONES
No,,,,,,,,,,
1,ANO_INF,SI,Año de la información,Numérico,4,Nominal,Año al que corresponde la información,NaN,AÑO DE LA INFORMACIÓN,NaN
2,CODIGO_MUN,NO,Municipio o Distrito,Cadena,5,Nominal,Códigos DANE Municipios,"Debe estar acorde con la divipola, se toma el ...",CODIGO DANE DEL MUNICIPIO,"Corresponde al código 001, que en DIVIPOLA cor..."
3,CODIGO_DANE,SI,Código DANE del establecimiento,Numérico,12,Nominal,Código DANE de la institución educativa (12 po...,"Debe estar registrado en el DUE \nen estado ""N...",CODIGO DANE 12 DEL ESTABLECIMIENTO SEDE EDUCATIVA,NaN
4,CODIGO_DANE_SEDE,SI,Código DANE de la Sede,Numérico,12,Nominal,Código DANE que poseía la sede en el año 2001 ...,NaN,CODIGO DANE 12 DE LA SEDE EDUCATIVA,"Debe estar registrado en el DUE \nen estado ""A..."
5,CONS_SEDE,NO,Consecutivo de la sede,Numérico,14,Nominal,Código generado por le DUE para identificar lo...,NaN,CONSECUTIVO DE LA SEDE,NaN
...,...,...,...,...,...,...,...,...,...,...
93,DIR_SECTOR_CENSAL,NaN,Sector censal,Cadena,10,Nominal,NaN,Información del directorio con fecha de corte ...,Sector censal en el directorio,NaN
94,DIR_X,SI,Longitud,Numérico,20,Escala,NaN,Información del directorio con fecha de corte ...,Coordenada X del establecimiento en el directorio,NaN
95,DIR_Y,SI,Latitud,Numérico,20,Escala,NaN,Información del directorio con fecha de corte ...,Coordenada Y del establecimiento en el directorio,NaN
96,VICTIMAS_INCLUIDO,SI,Población victima del conflicto armado (result...,Numérico,1,Nominal,1 Incluido\n2 No Incluido,Resultado cruce con base de RUV,Indica los estudiantes que fueron identificado...,NaN
97,VICTIMAS_HECHO,SI,Hecho ocurrido,Cadena,84,Nominal,NaN,Resultado cruce con base de RUV,Nombre del hecho ocurrido,NaN

In [9]:
dic_anexo64_2021['COLUMNAS A TENER EN CUENTA'] = dic_anexo64_2021['COLUMNAS A TENER EN CUENTA'].replace(np.nan, 'NO')
main_variables = dic_anexo64_2021[dic_anexo64_2021['COLUMNAS A TENER EN CUENTA'].str.contains('SI', case=False)]['NOMBRE VARIABLE']
main_variables = main_variables.str.strip().tolist()
main_variables

['ANO_INF',
 'CODIGO_DANE',
 'CODIGO_DANE_SEDE',
 'TIPO_DOCUMENTO',
 'NRO_DOCUMENTO',
 'APELLIDO1',
 'APELLIDO2',
 'NOMBRE1',
 'NOMBRE2',
 'DIRECCION_RESIDENCIA',
 'RES_DEPTO',
 'RES_MUN',
 'ESTRATO',
 'SISBEN',
 'FECHA_NACIMIENTO',
 'GENERO',
 'POB_VICT_CONF',
 'DPTO_EXP',
 'MUN_EXP',
 'PROVIENE_SECTOR_PRIV',
 'PROVIENE_OTR_MUN',
 'TIPO_DISCAPACIDAD',
 'CAP_EXC',
 'CODIGO_ETNIA',
 'CODIGO_RESGUARDO',
 'INS_FAMILIAR',
 'CODIGO_JORNADA',
 'CARACTER',
 'CODIGO_ESPECIALIDAD',
 'CODIGO_GRADO',
 'CODIGO_METODOLOGIA',
 'REPITENTE',
 'SIT_ACAD_ANIO_ANT',
 'CON_ALUM_ANIO_ANT',
 'ZONA_RESI_ALU',
 'MADR_CABE_FAMI',
 'HIJO_MADR_CABE_FAMI',
 'BENE_VETE_FUER_PUBL',
 'HERO_NACI',
 'VALORACION1',
 'VALORACION2',
 'CODIGO_INTERNADO',
 'EDAD',
 'NIVEL',
 'NIVEL_B',
 'ETNIA_RECODIFICADA',
 'RANGO_EDAD',
 'CLASE_COLEGIO',
 'PER_ID',
 'PAIS_ORIGEN',
 'NOMBRE_PAIS_ORIGEN',
 'TIPO_NACIONALIDAD',
 'DIR_NUM_LOCALIDAD',
 'DIR_LOCALIDAD',
 'DIR_X',
 'DIR_Y',
 'VICTIMAS_INCLUIDO',
 'VICTIMAS_HECHO']

Se cargan los dataset para cada uno de los años

In [4]:
df_anexo6A_2017 = pd.read_csv('data/1-bronce/SIMAT_EFICIENCIA_2017.csv', delimiter=';')
df_anexo6A_2018 = pd.read_csv('data/1-bronce/SIMAT_EFICIENCIA_2018.csv', delimiter=';')
df_anexo6A_2019 = pd.read_csv('data/1-bronce/Anexo6A_Eficiencia_interna_MEN_2019.csv', delimiter=';')
df_anexo6A_2020 = pd.read_csv('data/1-bronce/Anexo6A_Eficiencia_interna_MEN_2020.csv', delimiter=';')
df_anexo6A_2021 = pd.read_csv('data/1-bronce/Anexo6A_depurado_31032021.csv', delimiter=';')

/opt/conda/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (0,1,5,6,15,17,20,21,23,24,25,28,29,30,32,33,34,35,36,37,41,42,43,44,49,52,53,54,57,60,61,62,63,64,65,66,71,72) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/opt/conda/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (0,1,2,3,4,5,7,8,15,16,17,20,23,24,25,28,29,30,31,32,34,35,36,37,41,43,44,49,50,51,52,53,54,56,58,60,61,62,63,64,65,66,67,73,75,83,84,85,86,87,89) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/opt/conda/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (36,49,71,74,76,77,89,92,95,104,105,106,108,115,116) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/opt/conda/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (36,49,84) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/opt/conda/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (37,45,68,70,79,88,89,90,92,100,102,103,104,105) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

Debido a que no en todos los dataset las columnas coinciden, primero miramos cuales son los nombers de columnas que coinciden

In [5]:
dfs = [ df_anexo6A_2017, df_anexo6A_2018, df_anexo6A_2019, df_anexo6A_2020, df_anexo6A_2021]
dfs_columns = np.concatenate([df.columns.str.strip() for df in dfs])
dfs_columns = pd.Series(dfs_columns).value_counts()
columns_in_all_dfs = dfs_columns[dfs_columns == len(dfs)]
columns_in_all_dfs = columns_in_all_dfs.index
columns_in_all_dfs

Index(['NIVEL', 'EXP_MUN', 'RES_DEPTO', 'DPTO_EXP', 'NRO_DOCUMENTO',
       'TIPO_DOCUMENTO', 'NOMBRE2', 'RES_MUN', 'NUEVO', 'CONS_SEDE', 'SISBEN',
       'APELLIDO2', 'TIPO_DISCAPACIDAD', 'MUN_EXP', 'NAC_DEPTO',
       'POB_VICT_CONF', 'CAP_EXC', 'FECHA_NACIMIENTO', 'EXP_DEPTO', 'EDAD',
       'REPITENTE', 'DIRECCION_RESIDENCIA', 'PROVIENE_SECTOR_PRIV',
       'APELLIDO1', 'GRUPO', 'TEL', 'CARACTER', 'NAC_MUN', 'ESTRATO',
       'NOMBRE1'],
      dtype='object')

In [6]:
missing_main_variables = list(filter(lambda x: x not in columns_in_all_dfs, main_variables))
missing_main_variables

['ANO_INF',
 'CODIGO_DANE',
 'CODIGO_DANE_SEDE',
 'GENERO',
 'PROVIENE_OTR_MUN',
 'CODIGO_ETNIA',
 'CODIGO_RESGUARDO',
 'INS_FAMILIAR',
 'CODIGO_JORNADA',
 'CODIGO_ESPECIALIDAD',
 'CODIGO_GRADO',
 'CODIGO_METODOLOGIA',
 'SIT_ACAD_ANIO_ANT',
 'CON_ALUM_ANIO_ANT',
 'ZONA_RESI_ALU',
 'MADR_CABE_FAMI',
 'HIJO_MADR_CABE_FAMI',
 'BENE_VETE_FUER_PUBL',
 'HERO_NACI',
 'VALORACION1',
 'VALORACION2',
 'CODIGO_INTERNADO',
 'NIVEL_B',
 'ETNIA_RECODIFICADA',
 'RANGO_EDAD',
 'CLASE_COLEGIO',
 'PER_ID',
 'PAIS_ORIGEN',
 'NOMBRE_PAIS_ORIGEN',
 'TIPO_NACIONALIDAD',
 'DIR_NUM_LOCALIDAD',
 'DIR_LOCALIDAD',
 'DIR_X',
 'DIR_Y',
 'VICTIMAS_INCLUIDO',
 'VICTIMAS_HECHO']

Debido a que se esta utilizando una gran cantidad de columnas, se necesita una funcion que encuntre coincidencias en los nombres de las otras columnas en los otros dataframes, con respecto a las columnas que definimos como importantes

In [7]:
def word_in_dfs_columns(dfs_dic, word, to_ignore=[]):
    words = word.split('_')
    words = list(filter(lambda x: x not in to_ignore, words))
    results = {}
    for key, df in dfs_dic.items():
        matches = []
        for w in words:
            matches = [*matches, *df.columns[df.columns.str.contains(w, case=False)]]
            matches = list(set(matches))
        
        results[key] = matches
    return results

In [8]:
df_dict = {'df_anexo6A_2017':df_anexo6A_2017,'df_anexo6A_2018':df_anexo6A_2018,'df_anexo6A_2019':df_anexo6A_2019, 'df_anexo6A_2020':df_anexo6A_2020}
variables = {}
for var in missing_main_variables:
    variables[var] = word_in_dfs_columns(df_dict, var, ['CODIGO', 'DIR', 'TIPO', 'B', 'ID'])
pprint.pprint(variables)

{'ANO_INF': {'df_anexo6A_2017': ['ANNO_INF',
                                 'CON_ALUM_ANO_ANT',
                                 'SIT_ACAD_ANO_ANT'],
             'df_anexo6A_2018': ['ANNO_INF',
                                 'CON_ALUM_ANO_ANT',
                                 'SIT_ACAD_ANO_ANT'],
             'df_anexo6A_2019': ['ANNO_INF',
                                 'CON_ALUM_ANO_ANT',
                                 'SIT_ACAD_ANO_ANT'],
             'df_anexo6A_2020': ['ANNO_INF',
                                 'CON_ALUM_ANO_ANT',
                                 'SIT_ACAD_ANO_ANT']},
 'BENE_VETE_FUER_PUBL': {'df_anexo6A_2017': [],
                         'df_anexo6A_2018': [],
                         'df_anexo6A_2019': [],
                         'df_anexo6A_2020': []},
 'CLASE_COLEGIO': {'df_anexo6A_2017': ['CLASE_COLEGIO_DIR', 'CLASE_SECTOR'],
                   'df_anexo6A_2018': ['CLASE_COLEGIO_DIR'],
                   'df_anexo6A_2019': ['RECTORCOLEGIOSDISTRITALESACTUALIZACIONA18JUL2019',
                                       'CLASE',
                                       'DIRECCION2COMUNREPORTECOLEGIOS'],
                   'df_anexo6A_2020': ['CLASE_DIR']},
 'CODIGO_DANE': {'df_anexo6A_2017': ['DANE12_SEDE_EDUCATIVA',
                                     'DANE12_ESTABLECIMIENTO_EDUCATIVO'],
                 'df_anexo6A_2018': ['DANE11_SEDE_EDUCATIVA',
                                     'DANE11_ESTABLECIMIENTO_EDUCATIVO',
                                     'DANE12_SEDE_EDUCATIVA',
                                     'DANE12_ESTABLECIMIENTO_EDUCATIVO'],
                 'df_anexo6A_2019': ['DANE11_SEDE_EDUCATIVA',
                                     'DANE11_ESTABLECIMIENTO_EDUCATIVO',
                                     'DANE12_SEDE_EDUCATIVA',
                                     'DANE12_ESTABLECIMIENTO_EDUCATIVO'],
                 'df_anexo6A_2020': ['DANE12_SEDE_EDUCATIVA',
                                     'DANE12_ESTABLECIMIENTO_EDUCATIVO',
                                     'DANE11_SEDE_EDUCATIVA_DIR']},
 'CODIGO_DANE_SEDE': {'df_anexo6A_2017': ['NOMBRE_SEDE',
                                          'DANE12_SEDE_EDUCATIVA',
                                          'CONS_SEDE',
                                          'DANE12_ESTABLECIMIENTO_EDUCATIVO',
                                          'SEDE_ID'],
                      'df_anexo6A_2018': ['NOMBRE_SEDE',
                                          'DANE11_ESTABLECIMIENTO_EDUCATIVO',
                                          'DANE12_SEDE_EDUCATIVA',
                                          'CONS_SEDE',
                                          'DANE12_ESTABLECIMIENTO_EDUCATIVO',
                                          'NOMBRE_SEDE_EDUCATIVA',
                                          'DANE11_SEDE_EDUCATIVA',
                                          'ORDENDESEDE',
                                          'SEDE_ID'],
                      'df_anexo6A_2019': ['NOMBRE_SEDE',
                                          'DANE11_ESTABLECIMIENTO_EDUCATIVO',
                                          'DANE12_SEDE_EDUCATIVA',
                                          'CONS_SEDE',
                                          'DANE12_ESTABLECIMIENTO_EDUCATIVO',
                                          'NOMBRE_SEDE_EDUCATIVA',
                                          'DANE11_SEDE_EDUCATIVA',
                                          'ORDENDESEDE',
                                          'SEDE_ID'],
                      'df_anexo6A_2020': ['NOMBRE_SEDE',
                                          'DANE12_SEDE_EDUCATIVA',
                                          'CONS_SEDE',
                                          'DANE12_ESTABLECIMIENTO_EDUCATIVO',
                                          'NOMBRE_SEDE_EDUCATIVA_DIR',
                                          'DANE11_SEDE_EDUCATIVA_DIR',
                                          'SEDE_ID']},
 'CODIGO_ESPECIALIDAD': {'df_anexo6A_2017': ['ESPECIALIDAD'],
                         'df_anexo6A_2018': ['ESPECIALIDAD'],
                         'df_anexo6A_2019': ['ESPECIALIDAD'],
                         'df_anexo6A_2020': ['ESPECIALIDAD']},
 'CODIGO_ETNIA': {'df_anexo6A_2017': ['ETNIA'],
                  'df_anexo6A_2018': ['ETNIA'],
                  'df_anexo6A_2019': ['ETNIA', 'ETNIA_RECODIFICADA'],
                  'df_anexo6A_2020': ['ETNIA']},
 'CODIGO_GRADO': {'df_anexo6A_2017': ['CODIGO_GRADO'],
                  'df_anexo6A_2018': ['CODIGO_GRADO'],
                  'df_anexo6A_2019': ['GRADO'],
                  'df_anexo6A_2020': ['CODIGO_GRADO']},
 'CODIGO_INTERNADO': {'df_anexo6A_2017': ['INTERNADO'],
                      'df_anexo6A_2018': ['INTERNADO'],
                      'df_anexo6A_2019': ['INTERNADO'],
                      'df_anexo6A_2020': ['INTERNADO']},
 'CODIGO_JORNADA': {'df_anexo6A_2017': ['TIPO_JORNADA'],
                    'df_anexo6A_2018': ['TIPO_JORNADA'],
                    'df_anexo6A_2019': ['TIPO_JORNADA'],
                    'df_anexo6A_2020': ['TIPO_JORNADA']},
 'CODIGO_METODOLOGIA': {'df_anexo6A_2017': ['METODOLOGIA'],
                        'df_anexo6A_2018': ['METODOLOGIA'],
                        'df_anexo6A_2019': ['METODOLOGIA'],
                        'df_anexo6A_2020': ['METODOLOGIA']},
 'CODIGO_RESGUARDO': {'df_anexo6A_2017': [],
                      'df_anexo6A_2018': [],
                      'df_anexo6A_2019': [],
                      'df_anexo6A_2020': []},
 'CON_ALUM_ANIO_ANT': {'df_anexo6A_2017': ['CON_ALUM_ANO_ANT',
                                           'CONS_SEDE',
                                           'POB_VICT_CONF',
                                           'SECTOR_CONPES',
                                           'SIT_ACAD_ANO_ANT'],
                       'df_anexo6A_2018': ['CON_ALUM_ANO_ANT',
                                           'SIT_ACAD_ANO_ANT',
                                           'CONS_SEDE',
                                           'POB_VICT_CONF',
                                           'SECTOR_CONPES',
                                           'CONSECUTIVO'],
                       'df_anexo6A_2019': ['CON_ALUM_ANO_ANT',
                                           'CONS_SEDE',
                                           'POB_VICT_CONF',
                                           'SITUACIONDECONFLICTO',
                                           'SECTOR_CONPES',
                                           'SIT_ACAD_ANO_ANT'],
                       'df_anexo6A_2020': ['CON_ALUM_ANO_ANT',
                                           'CONS_SEDE',
                                           'POB_VICT_CONF',
                                           'NUM_CONVENIO',
                                           'SECTOR_CONPES',
                                           'SIT_ACAD_ANO_ANT',
                                           'CONSECUTIVO_DIR']},
 'DIR_LOCALIDAD': {'df_anexo6A_2017': ['NUMERO_LOCALIDAD', 'NOMBRE_LOCALIDAD'],
                   'df_anexo6A_2018': ['NUMERO_LOCALIDAD', 'NOMBRE_LOCALIDAD'],
                   'df_anexo6A_2019': ['NOMBRE_LOCALIDAD'],
                   'df_anexo6A_2020': ['NOMBRE_LOCALIDAD_DIR']},
 'DIR_NUM_LOCALIDAD': {'df_anexo6A_2017': ['NUMERO_LOCALIDAD',
                                           'NOMBRE_LOCALIDAD'],
                       'df_anexo6A_2018': ['NUMERO_LOCALIDAD',
                                           'NOMBRE_LOCALIDAD'],
                       'df_anexo6A_2019': ['NUMERODEDOCUMENTORECTOR',
                                           'NOMBRE_LOCALIDAD'],
                       'df_anexo6A_2020': ['NOMBRE_LOCALIDAD_DIR',
                                           'NUM_CONVENIO']},
 'DIR_X': {'df_anexo6A_2017': ['CAP_EXC',
                               'DPTO_EXP',
                               'EXP_DEPTO',
                               'EXP_MUN',
                               'MUN_EXP'],
           'df_anexo6A_2018': ['CAP_EXC',
                               'DPTO_EXP',
                               'EXP_DEPTO',
                               'EXP_MUN',
                               'X',
                               'MUN_EXP'],
           'df_anexo6A_2019': ['FAX',
                               'CAP_EXC',
                               'TALENTOSOCAPACIDADESEXCEPCIONALES',
                               'DPTO_EXP',
                               'EXP_DEPTO',
                               'EXP_MUN',
                               'X',
                               'GENERO.x',
                               'X_A',
                               'MUN_EXP'],
           'df_anexo6A_2020': ['CAP_EXC',
                               'DPTO_EXP',
                               'EXP_DEPTO',
                               'EXP_MUN',
                               'MUN_EXP']},
 'DIR_Y': {'df_anexo6A_2017': [],
           'df_anexo6A_2018': ['Y', 'APOYO_ACAD_ESP'],
           'df_anexo6A_2019': ['Y',
                               'APOYO_ACAD_ESP',
                               'REGIMENYCATEGORIADECOSTOS'],
           'df_anexo6A_2020': ['APOYO_ACAD_ESP']},
 'ETNIA_RECODIFICADA': {'df_anexo6A_2017': ['ETNIA'],
                        'df_anexo6A_2018': ['ETNIA'],
                        'df_anexo6A_2019': ['ETNIA', 'ETNIA_RECODIFICADA'],
                        'df_anexo6A_2020': ['ETNIA']},
 'GENERO': {'df_anexo6A_2017': ['GENERO'],
            'df_anexo6A_2018': ['GENERO'],
            'df_anexo6A_2019': ['GENERO.x'],
            'df_anexo6A_2020': ['GENERO']},
 'HERO_NACI': {'df_anexo6A_2017': ['FECHA_NACIMIENTO'],
               'df_anexo6A_2018': ['FECHA_NACIMIENTO'],
               'df_anexo6A_2019': ['FECHA_NACIMIENTO'],
               'df_anexo6A_2020': ['FECHA_NACIMIENTO']},
 'HIJO_MADR_CABE_FAMI': {'df_anexo6A_2017': ['CAB_FAMILIA'],
                         'df_anexo6A_2018': ['CAB_FAMILIA'],
                         'df_anexo6A_2019': ['CAB_FAMILIA'],
                         'df_anexo6A_2020': ['CAB_FAMILIA']},
 'INS_FAMILIAR': {'df_anexo6A_2017': [],
                  'df_anexo6A_2018': [],
                  'df_anexo6A_2019': [],
                  'df_anexo6A_2020': []},
 'MADR_CABE_FAMI': {'df_anexo6A_2017': ['CAB_FAMILIA'],
                    'df_anexo6A_2018': ['CAB_FAMILIA'],
                    'df_anexo6A_2019': ['CAB_FAMILIA'],
                    'df_anexo6A_2020': ['CAB_FAMILIA']},
 'NIVEL_B': {'df_anexo6A_2017': ['NIVEL'],
             'df_anexo6A_2018': ['NIVEL'],
             'df_anexo6A_2019': ['NIVEL'],
             'df_anexo6A_2020': ['NIVEL']},
 'NOMBRE_PAIS_ORIGEN': {'df_anexo6A_2017': ['NOMBRE_SEDE',
                                            'NOMBRE_LOCALIDAD',
                                            'NOMBRE1',
                                            'NOMBRE_ESTABLECIMIENTO',
                                            'NOMBRE2'],
                        'df_anexo6A_2018': ['NOMBRE_SEDE',
                                            'CODIGO_PAIS_ORIGEN',
                                            'NOMBRE_LOCALIDAD',
                                            'NOMBRE_PAIS_ORIGEN',
                                            'NOMBRE_SEDE_EDUCATIVA',
                                            'NOMBRE_UPZ',
                                            'NOMBRE1',
                                            'NOMBRE_ESTABLECIMIENTO',
                                            'NOMBRE_ESTABLECIMIENTO_EDUCATIVO',
                                            'NOMBRE2'],
                        'df_anexo6A_2019': ['NOMBRE_SEDE',
                                            'CODIGO_PAIS_ORIGEN',
                                            'NOMBRE_LOCALIDAD',
                                            'NOMBRE_PAIS_ORIGEN',
                                            'NOMBRE_SEDE_EDUCATIVA',
                                            'NOMBRE_UPZ',
                                            'NOMBRE1',
                                            'NOMBRE_ESTABLECIMIENTO',
                                            'NOMBRE_ESTABLECIMIENTO_EDUCATIVO',
                                            'NOMBRE2'],
                        'df_anexo6A_2020': ['NOMBRE_SEDE',
                                            'CODIGO_PAIS_ORIGEN',
                                            'NOMBRE_PAIS_ORIGEN',
                                            'NOMBRE1',
                                            'NOMBRE_SEDE_EDUCATIVA_DIR',
                                            'NOMBRE_ESTABLECIMIENTO',
                                            'NOMBRE_ESTABLECIMIENTO_EDUCATIVO',
                                            'NOMBRE_LOCALIDAD_DIR',
                                            'NOMBRE2']},
 'PAIS_ORIGEN': {'df_anexo6A_2017': [],
                 'df_anexo6A_2018': ['NOMBRE_PAIS_ORIGEN',
                                     'CODIGO_PAIS_ORIGEN'],
                 'df_anexo6A_2019': ['NOMBRE_PAIS_ORIGEN',
                                     'CODIGO_PAIS_ORIGEN'],
                 'df_anexo6A_2020': ['NOMBRE_PAIS_ORIGEN',
                                     'CODIGO_PAIS_ORIGEN']},
 'PER_ID': {'df_anexo6A_2017': ['VAL_DES_PERIODO2', 'VAL_DES_PERIODO1'],
            'df_anexo6A_2018': ['VAL_DES_PERIODO2', 'VAL_DES_PERIODO1'],
            'df_anexo6A_2019': ['VAL_DES_PERIODO2', 'VAL_DES_PERIODO1'],
            'df_anexo6A_2020': ['VAL_DES_PERIODO2', 'VAL_DES_PERIODO1']},
 'PROVIENE_OTR_MUN': {'df_anexo6A_2017': ['MUN_CODIGO',
                                          'PROVIENE_OTRO_MUN',
                                          'EXP_MUN',
                                          'PROVIENE_SECTOR_PRIV',
                                          'NAC_MUN',
                                          'Divipola_MUNICIPIO',
                                          'RES_MUN',
                                          'MUN_EXP'],
                      'df_anexo6A_2018': ['MUN_CODIGO',
                                          'PROVIENE_OTRO_MUN',
                                          'EXP_MUN',
                                          'PROVIENE_SECTOR_PRIV',
                                          'NAC_MUN',
                                          'Divipola_MUNICIPIO',
                                          'RES_MUN',
                                          'MUN_EXP'],
                      'df_anexo6A_2019': ['MUN_CODIGO',
                                          'DIRECCION2COMUNREPORTECOLEGIOS',
                                          'PROVIENE_OTRO_MUN',
                                          'EXP_MUN',
                                          'PROVIENE_SECTOR_PRIV',
                                          'NAC_MUN',
                                          'BARRIO2COMUN',
                                          'Divipola_MUNICIPIO',
                                          'RES_MUN',
                                          'MUN_EXP'],
                      'df_anexo6A_2020': ['MUN_CODIGO',
                                          'PROVIENE_OTRO_MUN',
                                          'EXP_MUN',
                                          'PROVIENE_SECTOR_PRIV',
                                          'NAC_MUN',
                                          'Divipola_MUNICIPIO',
                                          'RES_MUN',
                                          'MUN_EXP']},
 'RANGO_EDAD': {'df_anexo6A_2017': ['EDAD'],
                'df_anexo6A_2018': ['EDAD'],
                'df_anexo6A_2019': ['EDAD'],
                'df_anexo6A_2020': ['EDAD', 'FECHA_NOVEDAD']},
 'SIT_ACAD_ANIO_ANT': {'df_anexo6A_2017': ['CON_ALUM_ANO_ANT',
                                           'SIT_ACAD_ANO_ANT'],
                       'df_anexo6A_2018': ['CON_ALUM_ANO_ANT',
                                           'APOYO_ACAD_ESP',
                                           'SIT_ACAD_ANO_ANT'],
                       'df_anexo6A_2019': ['SITUACIONDECONFLICTO',
                                           'CON_ALUM_ANO_ANT',
                                           'APOYO_ACAD_ESP',
                                           'SIT_ACAD_ANO_ANT'],
                       'df_anexo6A_2020': ['CON_ALUM_ANO_ANT',
                                           'APOYO_ACAD_ESP',
                                           'SIT_ACAD_ANO_ANT']},
 'TIPO_NACIONALIDAD': {'df_anexo6A_2017': [],
                       'df_anexo6A_2018': [],
                       'df_anexo6A_2019': [],
                       'df_anexo6A_2020': []},
 'VALORACION1': {'df_anexo6A_2017': [],
                 'df_anexo6A_2018': [],
                 'df_anexo6A_2019': [],
                 'df_anexo6A_2020': []},
 'VALORACION2': {'df_anexo6A_2017': [],
                 'df_anexo6A_2018': [],
                 'df_anexo6A_2019': [],
                 'df_anexo6A_2020': []},
 'VICTIMAS_HECHO': {'df_anexo6A_2017': [],
                    'df_anexo6A_2018': [],
                    'df_anexo6A_2019': [],
                    'df_anexo6A_2020': []},
 'VICTIMAS_INCLUIDO': {'df_anexo6A_2017': [],
                       'df_anexo6A_2018': [],
                       'df_anexo6A_2019': [],
                       'df_anexo6A_2020': []},
 'ZONA_RESI_ALU': {'df_anexo6A_2017': ['CTE_ID_ZONA',
                                       'CON_ALUM_ANO_ANT',
                                       'DIRECCION_RESIDENCIA',
                                       'ZON_ALU'],
                   'df_anexo6A_2018': ['CON_ALUM_ANO_ANT',
                                       'ZON_ALU',
                                       'DIRECCION_RESIDENCIA',
                                       'ZONA',
                                       'CTE_ID_ZONA'],
                   'df_anexo6A_2019': ['CON_ALUM_ANO_ANT',
                                       'ZON_ALU',
                                       'DIRECCION_RESIDENCIA',
                                       'ZONA',
                                       'CTE_ID_ZONA'],
                   'df_anexo6A_2020': ['CON_ALUM_ANO_ANT',
                                       'ZON_ALU',
                                       'DIRECCION_RESIDENCIA',
                                       'CTE_ID_ZONA',
                                       'ZONA_DIR']}}

In [9]:
word_in_dfs_columns(df_dict, 'LOC', ['CODIGO', 'DIR', 'TIPO', 'B', 'ID'])

{'df_anexo6A_2017': ['NUMERO_LOCALIDAD', 'NOMBRE_LOCALIDAD'],
 'df_anexo6A_2018': ['NUMERO_LOCALIDAD', 'NOMBRE_LOCALIDAD'],
 'df_anexo6A_2019': ['NOMBRE_LOCALIDAD', '@#_LOC'],
 'df_anexo6A_2020': ['NOMBRE_LOCALIDAD_DIR', 'LOC_DIR']}

Despues de analizar el resultado de nuestra funcion que encuentra coincidencias, creamos el sigueinte dicionario replace_columns_dict con los nombres de columnas a remplazr en los otros datasets

In [10]:

replace_columns_dict = {
    'ANNO_INF': 'ANO_INF',
    'DANE12_ESTABLECIMIENTO_EDUCATIVO': 'CODIGO_DANE',
    'DANE12_SEDE_EDUCATIVA': 'CODIGO_DANE_SEDE',
    'ESPECIALIDAD': 'CODIGO_ESPECIALIDAD',
    'ETNIA': 'CODIGO_ETNIA',
    'GRADO': 'CODIGO_GRADO',
    'INTERNADO': 'CODIGO_INTERNADO',
    'TIPO_JORNADA': 'CODIGO_JORNADA',
    'METODOLOGIA': 'CODIGO_METODOLOGIA',
    'CON_ALUM_ANO_ANT': 'CON_ALUM_ANIO_ANT',
    'GENERO.x': 'GENERO',
    'PROVIENE_OTRO_MUN': 'PROVIENE_OTR_MUN',
    'SIT_ACAD_ANO_ANT': 'SIT_ACAD_ANIO_ANT',
    'VAL_DES_PERIODO1': 'VALORACION1',
    'VAL_DES_PERIODO2': 'VALORACION2',
    'NUMERO_LOCALIDAD': 'DIR_NUM_LOCALIDAD',
    '@_LOC': 'DIR_NUM_LOCALIDAD',
    '@#_LOC': 'DIR_NUM_LOCALIDAD',
    'LOC_DIR': 'DIR_NUM_LOCALIDAD',
    'LOCALIDAD': 'DIR_LOCALIDAD',
    'NOMBRE_LOCALIDAD': 'DIR_LOCALIDAD',
    'NOMBRE_LOCALIDAD_DIR': 'DIR_LOCALIDAD',
    'ZON_ALU': 'ZONA_RESI_ALU',
    'NIVEL':'NIVEL'
}

La siguiente celda muestra como se relacionan las cada una de las coincidiencias definidas arriba, una pequeña muestra de los valores que tienen y el tipo
```
<replace_columns_dict_key> <replace_columns_dict_value>--> [values examples of dataframe 1] [values examples of dataframe 2] [values examples of dataframe 3]
types: [type of dataframe 1, type of dataframe 2, type of dataframe 3] 
```

In [11]:
text =""
for key, val in replace_columns_dict.items():
    text += f"{key}  {val}--> "
    var_types = []
    for df in dfs:
        
        if key in df.columns:
            text += f"{df[key].unique()[:5]}"
            var_types.append(df[key].dtype)
        elif val in df.columns:
            text += f"{df[val].unique()[:5]}"
            var_types.append(df[val].dtype)
        else:
            text += "(not found)"
            var_types.append("(not found)")
    text += f"\ntypes: {var_types} \n\n"   
print(text)

ANNO_INF  ANO_INF--> [2017 '2017' ' 146' ' 136' ' 133'][2018 '2018' '  83' '   0' '   1'][2019][2020][2021]
types: [dtype('O'), dtype('O'), dtype('int64'), dtype('int64'), dtype('int64')]

DANE12_ESTABLECIMIENTO_EDUCATIVO  CODIGO_DANE--> [111001000078 111001000124 111001000132 111001000272 111001000353][111001000078 111001000124 111001000132 111001014176 111001000272][211850001473 311001090793 111001035572 111001012475 111001029955][111001000078 111001000124 111001000132 111001000272 111001000612][111001000078 111001000124 111001000132 111001000272 111001000612]
types: [dtype('int64'), dtype('O'), dtype('int64'), dtype('int64'), dtype('int64')]

DANE12_SEDE_EDUCATIVA  CODIGO_DANE_SEDE--> [1.11001000e+11 1.11001015e+11 1.11001015e+11 1.11001000e+11
 1.11001014e+11][111001000078 111001000124 111001000132 111001000213 111001000272][211850000817 211001030630 311001090793 111001035572 111001013625][111001000078 111001014834 111001014842 111001000124 111001014303][111001000078 111001014834 111001014842 111001000124 111001000132]
types: [dtype('float64'), dtype('O'), dtype('int64'), dtype('int64'), dtype('int64')]

ESPECIALIDAD  CODIGO_ESPECIALIDAD--> [5 0 6 8 9][5 0 6 8 9][0 7 5 6 8][5 0 6 8 7][5 0 6 8 9]
types: [dtype('O'), dtype('O'), dtype('int64'), dtype('int64'), dtype('int64')]

ETNIA  CODIGO_ETNIA--> [0 46 49 200 75][0 200 97 19 75][  0 200  27  83  46][  0  97 200   1   2][  0 200   1  97  83]
types: [dtype('O'), dtype('O'), dtype('int64'), dtype('int64'), dtype('int64')]

GRADO  CODIGO_GRADO--> [10 0 3 -1 9][11 9 7 10 8][5 4 2 3 1][11 10  7  9  8][11  9 10  8  7]
types: [dtype('O'), dtype('O'), dtype('int64'), dtype('int64'), dtype('int64')]

INTERNADO  CODIGO_INTERNADO--> ['3' ' ' '*' '0' 0]['3' ' ' '0' nan '*']['3' ' ' 3]['3' ' ' 3][3]
types: [dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('int64')]

TIPO_JORNADA  CODIGO_JORNADA--> [6 3 2 4 1][6 2 3 4 1][6 2 3 1][6 2 3 1][6 2 3 4 5]
types: [dtype('O'), dtype('O'), dtype('int64'), dtype('int64'), dtype('int64')]

METODOLOGIA  CODIGO_METODOLOGIA--> [1 9 10 20 11][1 9 10 20 11][ 1  9 11][ 1  9 11][ 1  9 10 11]
types: [dtype('O'), dtype('O'), dtype('int64'), dtype('int64'), dtype('int64')]

CON_ALUM_ANO_ANT  CON_ALUM_ANIO_ANT--> [9 8 5 3 '9'][9. 5. 3. 8. 0.][9 5 3 8][9 8 5 3][9 8 5 3]
types: [dtype('O'), dtype('float64'), dtype('int64'), dtype('int64'), dtype('int64')]

GENERO.x  GENERO--> ['F' 'M' ' ' 'N' 'S']['M' 'F' ' ' nan 'D']['M' 'F']['M' 'F']['M' 'F']
types: [dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O')]

PROVIENE_OTRO_MUN  PROVIENE_OTR_MUN--> ['N' 'S' ' ' 'P']['N' 'S' ' ' nan '8']['N' 'S']['N' 'S']['N' 'S']
types: [dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O')]

SIT_ACAD_ANO_ANT  SIT_ACAD_ANIO_ANT--> [1 0 8 2 '1'][1 8 0 2 '1'][1 8 2 0][1 2 8 0][1 2 8 0]
types: [dtype('O'), dtype('O'), dtype('int64'), dtype('int64'), dtype('int64')]

VAL_DES_PERIODO1  VALORACION1--> [' ' '4' '2' '3' '1'][' ' '3' '2' '4' '1'][' ' '3' '2' '4' '1'][' ' '4' '3' '2'][' ' '4' '1']
types: [dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O')]

VAL_DES_PERIODO2  VALORACION2--> [' ' '3' '2' '4' '*'][' ' '3' '4' '2' '0'][' ' '2' '3'][' '][' ']
types: [dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O')]

NUMERO_LOCALIDAD  DIR_NUM_LOCALIDAD--> [16 8 1 10 4]['   16,00' '    8,00' '    1,00' '    4,00' '   10,00'](not found)(not found)[16  8  1 10 12]
types: [dtype('O'), dtype('O'), '(not found)', '(not found)', dtype('int64')]

@_LOC  DIR_NUM_LOCALIDAD--> (not found)(not found)(not found)(not found)[16  8  1 10 12]
types: ['(not found)', '(not found)', '(not found)', '(not found)', dtype('int64')]

@#_LOC  DIR_NUM_LOCALIDAD--> (not found)(not found)[20 11 19  4  1](not found)[16  8  1 10 12]
types: ['(not found)', '(not found)', dtype('int64'), '(not found)', dtype('int64')]

LOC_DIR  DIR_NUM_LOCALIDAD--> (not found)(not found)(not found)[16  8  1 10 12][16  8  1 10 12]
types: ['(not found)', '(not found)', '(not found)', dtype('int64'), dtype('int64')]

LOCALIDAD  DIR_LOCALIDAD--> (not found)(not found)(not found)(not found)[16  8  1 10 12]
types: ['(not found)', '(not found)', '(not found)', '(not found)', dtype('int64')]

NOMBRE_LOCALIDAD  DIR_LOCALIDAD--> ['PUENTE ARANDA' 'KENNEDY' 'USAQUEN' 'ENGATIVA' 'SAN CRISTOBAL']['PUENTE' 'KENNEDY' 'USAQUEN' 'SAN CRI' 'ENGATIV']['SUMAPAZ' 'SUBA' 'CIUDAD BOLIVAR' 'SAN CRISTOBAL' 'USAQUEN'](not found)[16  8  1 10 12]
types: [dtype('O'), dtype('O'), dtype('O'), '(not found)', dtype('int64')]

NOMBRE_LOCALIDAD_DIR  DIR_LOCALIDAD--> (not found)(not found)(not found)['PUENTE ARANDA' 'KENNEDY' 'USAQUEN' 'ENGATIVA' 'BARRIOS UNIDOS'][16  8  1 10 12]
types: ['(not found)', '(not found)', '(not found)', dtype('O'), dtype('int64')]

ZON_ALU  ZONA_RESI_ALU--> [1 2 '1' '2' '*'][1 2 '1' '2' '0'][2 1][1 2][1 2 '1' '2' ' ']
types: [dtype('O'), dtype('O'), dtype('int64'), dtype('int64'), dtype('O')]

NIVEL  NIVEL--> [4 1 2 3 '4'][4 3 2 1 '2'][2 1 4 3][4 3 2 1][4 3 2 1]
types: [dtype('O'), dtype('O'), dtype('int64'), dtype('int64'), dtype('int64')]

Filtramos las variables que no se pudieron encontrar en todos los dataframes, incluso despues de hacer el checkeo manual.

In [12]:
unfindables_variables = list(filter(lambda x: x not in replace_columns_dict.values(), missing_main_variables))
unfindables_variables

['CODIGO_RESGUARDO',
 'INS_FAMILIAR',
 'MADR_CABE_FAMI',
 'HIJO_MADR_CABE_FAMI',
 'BENE_VETE_FUER_PUBL',
 'HERO_NACI',
 'NIVEL_B',
 'ETNIA_RECODIFICADA',
 'RANGO_EDAD',
 'CLASE_COLEGIO',
 'PER_ID',
 'PAIS_ORIGEN',
 'NOMBRE_PAIS_ORIGEN',
 'TIPO_NACIONALIDAD',
 'DIR_X',
 'DIR_Y',
 'VICTIMAS_INCLUIDO',
 'VICTIMAS_HECHO']

Ahora filtramos las variables que  vamos a utilizar y las asignamos a una lista en la variable `validate_main_variables`

In [13]:
validate_main_variables = list(filter(lambda x: x not in unfindables_variables, main_variables))
validate_main_variables

['ANO_INF',
 'CODIGO_DANE',
 'CODIGO_DANE_SEDE',
 'TIPO_DOCUMENTO',
 'NRO_DOCUMENTO',
 'APELLIDO1',
 'APELLIDO2',
 'NOMBRE1',
 'NOMBRE2',
 'DIRECCION_RESIDENCIA',
 'RES_DEPTO',
 'RES_MUN',
 'ESTRATO',
 'SISBEN',
 'FECHA_NACIMIENTO',
 'GENERO',
 'POB_VICT_CONF',
 'DPTO_EXP',
 'MUN_EXP',
 'PROVIENE_SECTOR_PRIV',
 'PROVIENE_OTR_MUN',
 'TIPO_DISCAPACIDAD',
 'CAP_EXC',
 'CODIGO_ETNIA',
 'CODIGO_JORNADA',
 'CARACTER',
 'CODIGO_ESPECIALIDAD',
 'CODIGO_GRADO',
 'CODIGO_METODOLOGIA',
 'REPITENTE',
 'SIT_ACAD_ANIO_ANT',
 'CON_ALUM_ANIO_ANT',
 'ZONA_RESI_ALU',
 'VALORACION1',
 'VALORACION2',
 'CODIGO_INTERNADO',
 'EDAD',
 'NIVEL',
 'DIR_NUM_LOCALIDAD',
 'DIR_LOCALIDAD']

In [14]:
len(validate_main_variables)

40

Remplazamos los nombres de las columnas que encontramos pero que no coinciden en el resto de los dataframes.

In [15]:
for df in dfs:
    df.rename(columns=replace_columns_dict, inplace=True)

Despues de remplazar los nombres de las columnas, tomamos solos las que necesitamos

In [16]:
df_anexo6A_2017 = df_anexo6A_2017[validate_main_variables]
df_anexo6A_2018 = df_anexo6A_2018[validate_main_variables]
df_anexo6A_2019 = df_anexo6A_2019[validate_main_variables]
df_anexo6A_2020 = df_anexo6A_2020[validate_main_variables]
df_anexo6A_2021 = df_anexo6A_2021[validate_main_variables]

In [17]:
df_anexo6A_2017['ANO_INF'] = '2017'
df_anexo6A_2018['ANO_INF'] = '2018'
df_anexo6A_2019['ANO_INF'] = '2019'
df_anexo6A_2020['ANO_INF'] = '2020'
df_anexo6A_2021['ANO_INF'] = '2021'

<ipython-input-17-5a990eaa5507>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_anexo6A_2017['ANO_INF'] = '2017'
<ipython-input-17-5a990eaa5507>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_anexo6A_2018['ANO_INF'] = '2018'
<ipython-input-17-5a990eaa5507>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_anexo6A_2019['ANO_INF'] = '2019'
<ipython-input-17-5a990eaa5507>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_anexo6A_2020['ANO_INF'] = '2020'
<ipython-input-17-5a990eaa5507>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_anexo6A_2021['ANO_INF'] = '2021'

Igual que como se hizo anteriormente miramos las variables, una pequeña muestra de los valores que tienen y el tipo de estas
```
<dataframe_column> --> [values examples of dataframe 1] [values examples of dataframe 2] [values examples of dataframe 3]
types: [type of dataframe column 1, type of dataframe column 2, type of dataframe column 3] 
```

In [18]:
text =""
for col in validate_main_variables:
    text += f"{col} --> "
    var_types = []
    for df in dfs:
        text += f"{df[col].unique()[:5]}"
        var_types.append(df[col].dtype)
    text += f"\ntypes: {var_types} \n\n"   
print(text)

ANO_INF --> [2017 '2017' ' 146' ' 136' ' 133'][2018 '2018' '  83' '   0' '   1'][2019][2020][2021]
types: [dtype('O'), dtype('O'), dtype('int64'), dtype('int64'), dtype('int64')]

CODIGO_DANE --> [111001000078 111001000124 111001000132 111001000272 111001000353][111001000078 111001000124 111001000132 111001014176 111001000272][211850001473 311001090793 111001035572 111001012475 111001029955][111001000078 111001000124 111001000132 111001000272 111001000612][111001000078 111001000124 111001000132 111001000272 111001000612]
types: [dtype('int64'), dtype('O'), dtype('int64'), dtype('int64'), dtype('int64')]

CODIGO_DANE_SEDE --> [1.11001000e+11 1.11001015e+11 1.11001015e+11 1.11001000e+11
 1.11001014e+11][111001000078 111001000124 111001000132 111001000213 111001000272][211850000817 211001030630 311001090793 111001035572 111001013625][111001000078 111001014834 111001014842 111001000124 111001014303][111001000078 111001014834 111001014842 111001000124 111001000132]
types: [dtype('float64'), dtype('O'), dtype('int64'), dtype('int64'), dtype('int64')]

TIPO_DOCUMENTO --> [2 3 5 7 1][2 7 5 1 8][2 5 7 1 6][ 2  7  1  5 10][5 2 7 1 8]
types: [dtype('O'), dtype('O'), dtype('int64'), dtype('int64'), dtype('int64')]

NRO_DOCUMENTO --> ['00010803853' '05057637' '067289989' '071759788' '089980482']['1001329241' '1000619623' '1000225663' '1010083010' '1000627505']['1110088001' '1023380879' '1022962679' '1141328312' '1011214345']['1004074564' '1005852136' '1006354640' '1030522200' '1059983157']['1074808146' '1105780097' '1000747239' '1070467145' '1069475204']
types: [dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O')]

APELLIDO1 --> ['CRUZ' 'NAVAS' 'RODRIGUEZ' 'AQUILES' 'ESPIN']['CARRE�O' 'VARGAS' 'VALLEJO' 'MERCADO' 'GUERRERO']['PEÑA' 'GUEVARA' 'BAQUERO' 'QUITIAN' 'TOVAR']['TRUJILLO' 'JIMENEZ' 'PULIDO' 'CASTAÑO' 'GONZALEZ']['FIGUEROA' 'CRUZ' 'GIRALDO' 'SEGURA' 'MONTERROZA']
types: [dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O')]

APELLIDO2 --> ['CANO' 'GONZALEZ' ' ' 'CARDOZO' 'LOPEZ']['MERCHAN' 'CLAVIJO' 'BUSTOS' 'OROZCO' 'FLOREZ']['GIRALDO' 'SUSA' 'CHAVARRO' 'PEÑALOZA' 'PARRA']['SILVA' 'GUTIERREZ' 'GIRALDO' 'BUITRAGO' 'LUCUMI']['GUARIN' 'CASTRO' 'OCAMPO' 'RAMIREZ' 'TENORIO']
types: [dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O')]

NOMBRE1 --> ['LAURA' 'SUJEIBY' 'SANTIAGO' 'HERNANDEZ' 'STEFANI']['KEVIN' 'NAIDY' 'SOFIA' 'KAROLAY' 'LUISA']['BREYNER' 'HAROL' 'LISED' 'JAMES' 'ANDERSON']['JOSSIE' 'JUAN' 'NICOLAS' 'TAILOR' 'ANA']['BRANDON' 'JUAN' 'MANUELA' 'GINNETH' 'LILIANA']
types: [dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O')]

NOMBRE2 --> ['VALENTINA' 'JOSE' 'MILANO' 'ALEJANDRA' 'RODRIGO']['ALEJANDRO' 'VALENTINA' 'MANUELA' ' ' 'CAROLINA']['ANDRES' 'FARID' 'DAYANA' 'ESNEIDER' ' ']['ESTEBAN' 'DAVID' 'CAMILO' ' ' 'YESID']['ESTIVEN' 'ESTEBAN' ' ' 'ALEJANDRA' 'KARINA']
types: [dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O')]

DIRECCION_RESIDENCIA --> ['CL 69 A 105 F 67' 'CL 34 SUR 40 A 51' 'KR 54 SUR 50 B 10'
 'KR 40 28 A 02 SUR' 'CR 51 D  # 35 SUR  - 45']['KR 82 45 23 SUR' 'CL 28 SUR  # 14 A  - 33 CALLE 28 SUR N 14 A 33'
 'CL 38 A SUR  # 50 A  - 62' 'CL 32 SUR 51 D 80' 'CL 3 174 23']['VDA PALOMAR' 'CG SAN JUAN DE SUMAPAZ KM 100' 'VEREDA LA MACARENA'
 'VR SUMAPAZ SAN JUAN KM 10' 'CR 7 # 80 A SUR - 19']['KR 53 F 2 08' 'SANTIAGO PEREZ' 'CL 8 SUR 38 B 25'
 'TR 3 A ESTE # 52 SUR - 64' 'CL 17 8 29']['KR 40 A 19 77 SUR' 'CL 27 SUR 51 D 54' 'AV 68 14 34 SUR'
 'KR 68 H 31 33 SUR' 'CL 2 A BIS 64 A 80']
types: [dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O')]

RES_DEPTO --> [11 85 50 73 25][11 25 73 76 20][73 11 25 41 70][11 73 18 25 15][11 15 25 20 47]
types: [dtype('O'), dtype('O'), dtype('int64'), dtype('int64'), dtype('int64')]

RES_MUN --> [  1 606 313 718 675][1 290 168 520 88][ 43   1 740 151 504][  1  67 410 675 320][  1 814 430 815 754]
types: [dtype('int64'), dtype('O'), dtype('int64'), dtype('int64'), dtype('int64')]

ESTRATO --> [2 3 0 1 4][2 3 4 1 0][1 0 3 2 4][3 1 2 0 5][3 1 2 0 5]
types: [dtype('O'), dtype('O'), dtype('int64'), dtype('int64'), dtype('int64')]

SISBEN --> ['  ,01' ' ' '43,92' '29,44' '46,81']['47.' '57.' '51.' ' ' '52.'][' ' '16.' '10.' '0' '18.'][' ' '41.' '65.' '.01' '26.'][',01' '0' '26,58' '24,14' '52,42']
types: [dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O')]

FECHA_NACIMIENTO --> ['1/8/2000' '6/13/2012' '10/7/2008' '8/23/2012' '11/16/2013']['11/30/2001' '2/11/2003' '12/9/2002' '4/15/2000' '9/23/2003']['4/14/2008' '8/11/2008' '8/24/2008' '7/17/2009' '8/25/2011']['2/1/2002' '4/30/2002' '7/1/2002' '3/22/2004' '2/17/2006']['10/30/2003' '12/20/2003' '9/9/2003' '3/9/2004' '6/18/2004']
types: [dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O')]

GENERO --> ['F' 'M' ' ' 'N' 'S']['M' 'F' ' ' nan 'D']['M' 'F']['M' 'F']['M' 'F']
types: [dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O')]

POB_VICT_CONF --> [9 1 2 3 4][9 1 3 4 2][99  1  9  4  2][99  1  4 18  2][99  1  4  9 10]
types: [dtype('O'), dtype('O'), dtype('int64'), dtype('int64'), dtype('int64')]

DPTO_EXP --> [' ' '73' '25' '95' '76'][' ' '25' '73' '17' '18'][' ' '76' '95' '20' '41'][' ' '73' '11' '50' '41'][' ' '73' '50' '23' '41']
types: [dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O')]

MUN_EXP --> [' ' '616' '867' '394' '  1'][' ' '878' '616' '555' '867'][' ' '250' '001' '517' '396'][' ' '616' '168' '1' '590'][' ' '616' '168' '590' '807']
types: [dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O')]

PROVIENE_SECTOR_PRIV --> ['N' 'S' ' ' '?']['N' 'S' '7' '6' '5']['N' 'S']['N' 'S']['N' 'S']
types: [dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O')]

PROVIENE_OTR_MUN --> ['N' 'S' ' ' 'P']['N' 'S' ' ' nan '8']['N' 'S']['N' 'S']['N' 'S']
types: [dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O')]

TIPO_DISCAPACIDAD --> [99 7 8 10 18][99 18 17 8 10][99  8  3 18 15][99 15  8  3 18][99  8 18 11 15]
types: [dtype('O'), dtype('O'), dtype('int64'), dtype('int64'), dtype('int64')]

CAP_EXC --> [9 4 1 3 2][9 4 1 3 5][9 3 4 1 5][9 4 5 1 2][9 4 5 1 2]
types: [dtype('O'), dtype('O'), dtype('int64'), dtype('int64'), dtype('int64')]

CODIGO_ETNIA --> [0 46 49 200 75][0 200 97 19 75][  0 200  27  83  46][  0  97 200   1   2][  0 200   1  97  83]
types: [dtype('O'), dtype('O'), dtype('int64'), dtype('int64'), dtype('int64')]

CODIGO_JORNADA --> [6 3 2 4 1][6 2 3 4 1][6 2 3 1][6 2 3 1][6 2 3 4 5]
types: [dtype('O'), dtype('O'), dtype('int64'), dtype('int64'), dtype('int64')]

CARACTER --> [1 0 2 '0' '*'][ 1.  0.  2. nan][0 2 1][1 0 2][1 0 2]
types: [dtype('O'), dtype('float64'), dtype('int64'), dtype('int64'), dtype('int64')]

CODIGO_ESPECIALIDAD --> [5 0 6 8 9][5 0 6 8 9][0 7 5 6 8][5 0 6 8 7][5 0 6 8 9]
types: [dtype('O'), dtype('O'), dtype('int64'), dtype('int64'), dtype('int64')]

CODIGO_GRADO --> [10 0 3 -1 9][11 9 7 10 8][5 4 2 3 1][11 10  7  9  8][11  9 10  8  7]
types: [dtype('O'), dtype('O'), dtype('int64'), dtype('int64'), dtype('int64')]

CODIGO_METODOLOGIA --> [1 9 10 20 11][1 9 10 20 11][ 1  9 11][ 1  9 11][ 1  9 10 11]
types: [dtype('O'), dtype('O'), dtype('int64'), dtype('int64'), dtype('int64')]

REPITENTE --> ['N' 'S' ' ']['N' 'S' ' ' nan '   0']['N' 'S']['N' 'S']['N' 'S']
types: [dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O')]

SIT_ACAD_ANIO_ANT --> [1 0 8 2 '1'][1 8 0 2 '1'][1 8 2 0][1 2 8 0][1 2 8 0]
types: [dtype('O'), dtype('O'), dtype('int64'), dtype('int64'), dtype('int64')]

CON_ALUM_ANIO_ANT --> [9 8 5 3 '9'][9. 5. 3. 8. 0.][9 5 3 8][9 8 5 3][9 8 5 3]
types: [dtype('O'), dtype('float64'), dtype('int64'), dtype('int64'), dtype('int64')]

ZONA_RESI_ALU --> [1 2 '1' '2' '*'][1 2 '1' '2' '0'][2 1][1 2][1 2 '1' '2' ' ']
types: [dtype('O'), dtype('O'), dtype('int64'), dtype('int64'), dtype('O')]

VALORACION1 --> [' ' '4' '2' '3' '1'][' ' '3' '2' '4' '1'][' ' '3' '2' '4' '1'][' ' '4' '3' '2'][' ' '4' '1']
types: [dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O')]

VALORACION2 --> [' ' '3' '2' '4' '*'][' ' '3' '4' '2' '0'][' ' '2' '3'][' '][' ']
types: [dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O')]

CODIGO_INTERNADO --> ['3' ' ' '*' '0' 0]['3' ' ' '0' nan '*']['3' ' ' 3]['3' ' ' 3][3]
types: [dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('int64')]

EDAD --> [17 4 8 3 14][16 15 17 14 11][10  9  7  8  6][18 17 16 14 19][17 16 18 19 21]
types: [dtype('O'), dtype('O'), dtype('int64'), dtype('int64'), dtype('int64')]

NIVEL --> [4 1 2 3 '4'][4 3 2 1 '2'][2 1 4 3][4 3 2 1][4 3 2 1]
types: [dtype('O'), dtype('O'), dtype('int64'), dtype('int64'), dtype('int64')]

DIR_NUM_LOCALIDAD --> [16 8 1 10 4]['   16,00' '    8,00' '    1,00' '    4,00' '   10,00'][20 11 19  4  1][16  8  1 10 12][16  8  1 10 12]
types: [dtype('O'), dtype('O'), dtype('int64'), dtype('int64'), dtype('int64')]

DIR_LOCALIDAD --> ['PUENTE ARANDA' 'KENNEDY' 'USAQUEN' 'ENGATIVA' 'SAN CRISTOBAL']['PUENTE' 'KENNEDY' 'USAQUEN' 'SAN CRI' 'ENGATIV']['SUMAPAZ' 'SUBA' 'CIUDAD BOLIVAR' 'SAN CRISTOBAL' 'USAQUEN']['PUENTE ARANDA' 'KENNEDY' 'USAQUEN' 'ENGATIVA' 'BARRIOS UNIDOS'][16  8  1 10 12]
types: [dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('int64')]

Checkeamos si existen duplicados en los dataframe, por ejemplo para número de documento

In [19]:
df_anexo6A_2017['CODIGO_DANE_SEDE'] = df_anexo6A_2017['CODIGO_DANE_SEDE'].astype(int)
df_anexo6A_2017['CODIGO_DANE_SEDE']

<ipython-input-19-f55e74703ee9>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_anexo6A_2017['CODIGO_DANE_SEDE'] = df_anexo6A_2017['CODIGO_DANE_SEDE'].astype(int)

0          111001000078
1          111001014834
2          111001014834
3          111001014834
4          111001014834
               ...
1334072               0
1334073               0
1334074               0
1334075               0
1334076               0
Name: CODIGO_DANE_SEDE, Length: 1334077, dtype: int64

In [20]:
df_anexo6A_2017[df_anexo6A_2017['CODIGO_DANE_SEDE'] == 0]['CODIGO_DANE_SEDE'].value_counts()

0    143850
Name: CODIGO_DANE_SEDE, dtype: int64

In [21]:
df_anexo6A_2017.drop_duplicates(subset=['NRO_DOCUMENTO'], keep=False, inplace=True)
df_anexo6A_2018.drop_duplicates(subset=['NRO_DOCUMENTO'], keep=False, inplace=True)
df_anexo6A_2019.drop_duplicates(subset=['NRO_DOCUMENTO'], keep=False, inplace=True)
df_anexo6A_2020.drop_duplicates(subset=['NRO_DOCUMENTO'], keep=False, inplace=True)
df_anexo6A_2021.drop_duplicates(subset=['NRO_DOCUMENTO'], keep=False, inplace=True)

<ipython-input-21-9d54c440ff9e>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_anexo6A_2017.drop_duplicates(subset=['NRO_DOCUMENTO'], keep=False, inplace=True)
<ipython-input-21-9d54c440ff9e>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_anexo6A_2018.drop_duplicates(subset=['NRO_DOCUMENTO'], keep=False, inplace=True)
<ipython-input-21-9d54c440ff9e>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_anexo6A_2019.drop_duplicates(subset=['NRO_DOCUMENTO'], keep=False, inplace=True)
<ipython-input-21-9d54c440ff9e>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_anexo6A_2020.drop_duplicates(subset=['NRO_DOCUMENTO'], keep=False, inplace=True)
<ipython-input-21-9d54c440ff9e>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_anexo6A_2021.drop_duplicates(subset=['NRO_DOCUMENTO'], keep=False, inplace=True)

In [22]:
df_anexo6A = pd.concat([df_anexo6A_2017, df_anexo6A_2018, df_anexo6A_2019, df_anexo6A_2020, df_anexo6A_2021], ignore_index=True)
df_anexo6A

,ANO_INF,CODIGO_DANE,CODIGO_DANE_SEDE,TIPO_DOCUMENTO,NRO_DOCUMENTO,APELLIDO1,APELLIDO2,NOMBRE1,NOMBRE2,DIRECCION_RESIDENCIA,RES_DEPTO,RES_MUN,ESTRATO,SISBEN,FECHA_NACIMIENTO,GENERO,POB_VICT_CONF,DPTO_EXP,MUN_EXP,PROVIENE_SECTOR_PRIV,PROVIENE_OTR_MUN,TIPO_DISCAPACIDAD,CAP_EXC,CODIGO_ETNIA,CODIGO_JORNADA,CARACTER,CODIGO_ESPECIALIDAD,CODIGO_GRADO,CODIGO_METODOLOGIA,REPITENTE,SIT_ACAD_ANIO_ANT,CON_ALUM_ANIO_ANT,ZONA_RESI_ALU,VALORACION1,VALORACION2,CODIGO_INTERNADO,EDAD,NIVEL,DIR_NUM_LOCALIDAD,DIR_LOCALIDAD
0,2017,111001000078,111001000078,2,00010803853,CRUZ,CANO,LAURA,VALENTINA,CL 69 A 105 F 67,11,1,2,",01",1/8/2000,F,9,,,N,N,99,9,0,6,1,5,10,1,N,1,9,1,,,3,17,4,16,PUENTE ARANDA
1,2017,111001000078,111001014834,3,05057637,NAVAS,GONZALEZ,SUJEIBY,VALENTINA,CL 34 SUR 40 A 51,11,1,3,,6/13/2012,F,9,,,N,N,99,9,0,3,0,0,0,1,N,0,9,1,,,3,4,1,16,PUENTE ARANDA
2,2017,111001000078,111001014834,3,067289989,RODRIGUEZ,GONZALEZ,SANTIAGO,JOSE,KR 54 SUR 50 B 10,11,1,3,,10/7/2008,M,9,,,N,N,7,9,0,3,0,0,3,1,N,1,9,1,,,3,8,2,16,PUENTE ARANDA
3,2017,111001000078,111001014834,3,071759788,AQUILES,,HERNANDEZ,MILANO,KR 40 28 A 02 SUR,11,1,3,,8/23/2012,M,9,,,N,N,99,9,0,3,0,0,0,1,N,0,9,1,,,3,4,1,16,PUENTE ARANDA
4,2017,111001000078,111001014834,3,089980482,ESPIN,CARDOZO,STEFANI,ALEJANDRA,KR 40 28 A 02 SUR,11,1,3,,11/16/2013,F,9,,,N,N,99,9,0,3,0,0,-1,1,N,0,9,1,,,,3,1,16,PUENTE ARANDA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4464566,2021,411102000293,411102000293,2,1012336508,REBELLON,TORRES,DAYANA,SULEY,KR 105 B 65 81 SUR,11,1,2,"54,68",9/6/2005,F,99,,,N,N,99,9,0,6,2,7,10,1,N,1,9,1,,,3,15,4,7,7
4464567,2021,411102000293,411102000293,2,1016713910,CARRILLO,TORRES,ASLHEY,DAYANNA,KR 99 A 71 39 SUR,11,1,2,"61,21",10/1/2005,F,99,,,N,N,99,9,0,6,2,7,10,1,N,1,9,1,,,3,15,4,7,7
4464568,2021,411102000293,411102000293,2,1011090034,PEREZ,CUERVO,KAROLL,MICHELLE,CL 62 SUR 93 C 53,11,1,2,"58,21",11/30/2005,F,99,,,N,N,99,9,0,6,2,7,10,1,N,1,9,1,,,3,15,4,7,7
4464569,2021,411102000293,411102000293,2,1011092068,MORALES,RODRIGUEZ,VALERIA,,CL 61 B SUR 81 D 03,11,1,2,"58,24",2/24/2006,F,99,,,N,N,99,9,0,6,2,7,10,1,N,1,9,1,,,3,15,4,7,7
4464570,2021,411102000293,411102000293,2,1029140201,RODRIGUEZ,VANEGAS,JERSHEY,NICOLE,CR 82 A # 61 SUR - 30,11,1,2,"57,18",1/13/2005,F,99,,,N,N,99,9,0,6,2,7,11,1,N,1,9,1,,,3,16,4,7,7

In [23]:
for col in df_anexo6A.columns:
    text =""
    text += f"{col} --> "    
    text += f"{df_anexo6A[col].unique()[:]}"
    var_type = df_anexo6A[col].dtype
    text += f"\ntypes: {var_type} \n\n"   
    print(text)

ANO_INF --> ['2017' '2018' '2019' '2020' '2021']
types: object


CODIGO_DANE --> [111001000078 111001000124 111001000132 ... 111001800678 111001800694
 111001800813]
types: object


CODIGO_DANE_SEDE --> [111001000078 111001014834 111001014842 ... 111102000672 111001800813
 211850001309]
types: object


TIPO_DOCUMENTO --> [2 3 5 7 1 6 8 9 '2' '7' '5' '1' '6' '*' '0' 0 10 11 12 ' 5' ' 3' ' 7'
 ' 2' ' 1' ' 6' '**']
types: object


NRO_DOCUMENTO --> ['00010803853' '05057637' '067289989' ... '1215713431' '1065822914'
 '1028781395']
types: object


APELLIDO1 --> ['CRUZ' 'NAVAS' 'RODRIGUEZ' ... 'MACCHIARULLO' 'BOYS' 'LENGUERKE']
types: object


APELLIDO2 --> ['CANO' 'GONZALEZ' ' ' ... 'CIVIRA' 'MENESESS' 'FERRONEZ']
types: object


NOMBRE1 --> ['LAURA' 'SUJEIBY' 'SANTIAGO' ... 'YORGEIDYS' 'BRYANLLERLYS' 'WITNNY']
types: object


NOMBRE2 --> ['VALENTINA' 'JOSE' 'MILANO' ... 'SHEDYEL' 'MARAIRE' 'JESSIMAR']
types: object


DIRECCION_RESIDENCIA --> ['CL 69 A 105 F 67' 'CL 34 SUR 40 A 51' 'KR 54 SUR 50 B 10' ...
 'CL 69 K 4 29' 'CARRERA 80 NO. 172 A - 90' 'TV 79 A 42 A 48 SUR']
types: object


RES_DEPTO --> [11 85 50 73 25 15 23 54 41 47 27 5 8 13 17 19 76 44 66 70 68 20 63 52 81
 95 99 86 18 88 94 91 97 '11' '50' '25' ' 5' '23' '66' '76' '85' '97' '15'
 '41' '70' '86' '68' '73' '63' '**' ' 0' '24' '33' '90' '31' '35' '13'
 ' 2' '14' ' 9' 0 1 9 '54' ' 1' '27' '52' ' 8' '17' '0']
types: object


RES_MUN --> [1 606 313 718 675 286 176 239 443 754 520 568 306 148 269 430 250 483 168
 634 140 238 13 660 290 275 740 132 821 834 573 6 380 400 352 152 555 51
 469 394 885 45 370 670 755 574 750 570 665 175 524 551 288 130 81 895 124
 671 455 590 835 35 396 839 319 307 47 322 183 386 377 88 295 154 758 30
 300 178 444 170 299 480 68 32 530 426 899 770 777 807 682 405 547 517 43
 624 162 318 442 126 473 212 147 276 892 53 875 77 498 759 592 22 842 717
 245 408 591 79 298 433 761 638 854 810 104 440 673 367 664 417 490 466
 545 449 535 513 843 793 873 692 668 359 710 861 708 215 504 678 25 397
 518 418 980 182 815 540 139 862 658 190 897 646 703 542 137 189 667 226
 806 572 60 787 488 268 817 650 874 736 222 836 376 349 851 111 293 579 20
 503 683 320 820 631 580 543 97 600 279 122 794 701 753 150 563 855 679
 217 327 67 214 878 531 209 614 599 491 65 711 865 411 814 612 52 10 34
 360 771 421 778 109 42 615 398 594 742 649 283 251 799 16 745 205 78 232
 468 698 172 785 495 790 244 407 50 350 271 713 662 221 516 94 180 823 549
 385 281 427 128 756 356 406 364 181 325 680 506 744 265 120 436 837 797
 686 659 621 575 55 616 246 460 558 287 707 816 372 871 772 586 699 800
 541 399 296 657 804 90 845 101 185 233 425 167 645 87 113 791 40 223 647
 867 388 328 402 142 228 266 401 3 211 247 188 585 822 99 870 773 743 507
 805 429 693 302 688 270 476 438 315 893 229 362 106 200 179 508 564 764
 410 689 832 11 36 258 847 858 151 74 596 489 378 272 432 872 110 674 697
 75 224 260 256 786 655 687 206 652 500 123 898 532 622 632 672 326 486
 577 282 450 218 234 135 330 776 2 297 841 312 317 720 203 174 470 628 779
 197 15 550 83 685 204 887 263 24 129 26 560 100 681 548 230 860 475 553
 502 809 780 383 324 760 368 654 890 357 339 335 769 19 763 58 261 684 31
 877 757 355 236 248 838 95 464 798 107 308 669 361 610 690 160 413 219
 656 235 537 347 676 762 879 86 828 653 310 92 343 419 187 604 353 511 808
 284 458 390 569 849 41 62 264 863 403 98 801 533 332 571 749 461 323 620
 73 696 255 456 93 774 514 781 479 494 723 522 344 145 29 225 161 523 894
 702 125 141 819 131 607 136 138 240 884 207 354 467 321 605 38 54 960 237
 392 576 824 227 435 44 789 169 869 243 889 21 210 565 381 788 883 -54 5 4
 642 856 220 497 501 420 446 694 121 114 792 '  1' '466' '175' ' 99' ' 53'
 '495' '799' '214' '560' '486' '754' '473' '577' '837' '890' '380' '190'
 '713' '568' '535' '276' '405' ' 45' '  6' '449' '632' '681' ' 0' '  0'
 705 134 91 663 886]
types: object


ESTRATO --> [2 3 0 1 4 6 5 9 '3' '2' '1' '0' '4' '*' '5' '6' '9'
 '6,01347001699907E-154']
types: object


SISBEN --> ['  ,01' ' ' '43,92' ... '82' '67,3' '6,82']
types: object


FECHA_NACIMIENTO --> ['1/8/2000' '6/13/2012' '10/7/2008' ... '2/22/1953' '4/9/1983' '2/27/1951']
types: object


GENERO --> ['F' 'M' ' ' 'N' 'S' 'G']
types: object


POB_VICT_CONF --> [9 1 2 3 4 5 '9' '1' '*' '0' 0 '3' 99 10 18 6 17 7 14 20 15 21 16 12 19 8
 11 13]
types: object


DPTO_EXP --> [' ' '73' '25' '95' '76' '20' '50' '18' '15' '54' '68' ' 5' '23' '13' '41'
 '11' '17' '47' '52' '85' '86' '27' ' 8' '81' '19' '63' '70' '44' '99'
 '66' '97' '91' '94' '88' '**' ' 0' 0 5.0 '05' '08' '5' '8']
types: object


MUN_EXP --> [' ' '616' '867' '394' '  1' '148' '878' '555' '497' '596' '111' '228'
 '885' '590' '860' '686' '168' '236' '689' ' 81' ' 24' '120' '460' '606'
 '483' '837' '839' '675' '711' '670' '873' '  6' ' 29' ' 51' '251' '319'
 '349' '411' '744' '268' '660' ' 25' '109' '250' '622' '810' '245' '290'
 '132' '676' '592' '298' '835' '217' '136' ' 55' '189' '200' '408' '183'
 '141' '507' '897' ' 79' ' 20' '288' ' 65' '101' '233' '410' ' 68' '244'
 ' 43' '807' '701' '320' '283' '753' '325' '130' '417' '823' ' 35' ' 97'
 '777' '773' '787' ' 30' '662' '350' '899' '359' '708' '785' '206' '438'
 '698' ' 26' '137' '147' '124' '688' '110' '600' '272' ' 90' '862' '406'
 '568' '313' '551' '495' '654' '347' '377' '834' '572' '571' '758' '573'
 '212' '683' '580' '381' '368' '754' '678' '380' '361' '892' '865' ' 67'
 '756' '517' '855' '863' '399' '330' '430' '205' '520' '504' ' 11' ' 53'
 '175' '771' '563' '443' ' 94' '682' '508' '535' '532' '400' '178' '238'
 '248' '794' '624' '357' '286' '720' ' 86' '235' '736' '665' '306' '442'
 '239' ' 45' ' 99' '713' '659' '418' '791' ' 50' ' 78' ' 13' '667' '468'
 '396' '226' '506' '770' '405' '190' '215' '223' '671' '100' '610' '980'
 '256' '444' '352' '514' '150' '151' '160' ' 15' '781' '870' '790' ' 74'
 ' 75' '172' '473' '271' '604' '895' '681' '599' '621' '668' '390' '398'
 '585' '524' '300' '696' '449' '531' '258' '875' '385' '432' ' 16' '162'
 ' 40' '386' '586' '440' '647' '541' ' 88' '652' '594' '577' '854' '480'
 '710' ' 60' ' 52' '841' '565' '461' '685' '530' '140' '548' '122' '204'
 '822' '498' ' 10' '874' '861' '425' '518' '135' '847' '533' '450' '370'
 '579' '128' '799' '718' '653' '299' '302' '679' '307' '821' '540' '315'
 '433' '657' '125' '550' '139' '458' '142' '154' '820' '800' '759' '786'
 '757' '575' '702' ' 87' '615' '673' '893' '312' '247' '134' '392' '743'
 '275' '649' '270' ' 58' '397' '426' '549' '570' '780' '486' '378' '490'
 '355' '197' ' 32' '436' '707' '513' '760' '169' '167' '545' '234' '469'
 '776' '318' '798' ' 62' '429' '523' '161' '778' '464' ' 42' '740' '328'
 '569' '687' '614' '179' '690' '612' '327' '224' '321' '170' '276' '815'
 '218' '801' '344' '845' '362' '343' '553' '664' '254' '364' ' 47' '805'
 '207' '455' '293' ' 83' '261' '297' '466' '605' '503' '638' '279' '372'
 '674' '489' '322' '774' '522' '591' '126' '427' '255' '388' '828' '809'
 '402' '295' '836' '692' '717' '176' '383' ' 77' '203' '858' ' 73' '842'
 '266' '317' '152' '645' '174' '680' '672' '113' '872' '265' '749' '500'
 '547' '650' '403' '419' '536' '797' '502' '697' '211' ' 95' ' 34' '491'
 '287' '745' '246' '890' '413' '230' '832' ' 22' '229' '560' ' 92' '788'
 '574' '308' ' 31' '225' '284' '537' '693' ' 36' '655' '488' '296' '750'
 '894' '479' '576' '658' '824' '180' ' 93' '356' '  3' '761' '401' '467'
 '898' ' 19' '106' '446' '669' '420' '543' '764' '456' '838' '542' '263'
 '222' '843' '269' '332' '129' '804' '376' '887' '360' '755' '742' '339'
 '188' '516' '851' '501' '138' '240' '219' '666' '470' '121' ' 38' '324'
 '182' '877' '335' ' 54' '209' '  2' '703' '871' '181' '220' '494' '819'
 '353' '260' ' 91' '107' ' 41' '281' '123' '227' '367' '699' '634' '104'
 '243' '185' '816' '763' '817' '310' '264' '435' '511' '326' ' 21' '  4'
 '-67' '  8' '  0' 1 0 8 2 '421' '475' '620' '564' ' 59' '792' '*' '001'
 '081' '020' '067' '006' '090' '032' '026' '013' '075' '050' '015' '055'
 '068' '074' '073' '030' '065' '022' '025' '045' '040' '035' '053' '051'
 '011' '078' '079' '043' '029' '016' '093' '088' '077' '058' '054' '062'
 '031' '024' '097' '086' '010' '094' '019' '034' '042' '060' '087' '021'
 '052' '002' '095' '038' '099' '047' '036' '642' '041' '083' '003' '789'
 '607' '091' '558' '092' '1' '24' '78' '29' '51' '43' '25' '20' '97' '35'
 '68' '6' '90' '81' '50' '67' '45' '74' '53' '94' '11' '55' '13' '30' '10'
 '15' '40' '75' '60' '73' '77' '26' '42' '16' '65' '79' '99' '32' '62'
 '52' '86' '36' '54' '83' '58' '88' '19' '41' '95' '34' '22' '93' '3' '47'
 '31' '38' '92' '21' '91' '779' '87' '2' '663']
types: object


PROVIENE_SECTOR_PRIV --> ['N' 'S' ' ' '0' '1']
types: object


PROVIENE_OTR_MUN --> ['N' 'S' ' ']
types: object


TIPO_DISCAPACIDAD --> [99 7 8 10 18 15 13 11 3 4 19 17 14 6 12 1 2 9 5 16 '99' ' 3' '**' ' 1'
 ' 2' '16' ' 8' '13' '10' ' ' ' 0']
types: object


CAP_EXC --> [9 4 1 3 2 5 6 '9' '*' '0' 0 7 ' ' 11 10]
types: object


CODIGO_ETNIA --> [0 46 49 200 75 97 19 999 83 1 45 26 4 29 74 53 44 77 12 34 95 80 9 20 10
 42 73 72 99 71 52 7 47 100 27 17 15 25 5 14 31 66 70 28 2 48 400 22 18 6
 57 64 3 65 13 101 33 32 67 8 35 998 16 50 23 37 56 11 58 51 85 96 86 62
 40 30 54 38 82 90 36 43 21 61 24 92 81 55 68 60 94 '  0' '  7' '200'
 ' 80' '132' 107 69 102 39 59 79 93 ' 25' ' 20' ' 27' ' ' '  1' 84 98 109
 76]
types: object


CODIGO_JORNADA --> [6 3 2 4 1 5 '2' '5' '4' '34' '63' '6,01347001699913E-154'
 '6,01347001699914E-154' '1' '6' '0' '6,01347001699907E-154']
types: object


CARACTER --> [1 0 2 '0' '*' '3' ' ']
types: object


CODIGO_ESPECIALIDAD --> [5 0 6 8 9 7 10 ' 0' '63' '**' ' ' ' 4' ' 3' ' 5' '   0']
types: object


CODIGO_GRADO --> [10 0 3 -1 9 7 11 8 6 5 2 4 1 99 25 26 23 24 22 -2 21 12 13 '26' '24' '25'
 '22' '23' '-32' '-89' ' ' '4' '3' '2' '5' '6' '9' '0' '11' '1' '-1' '-2'
 '10' '7' '8' ' 0' '6,01347001699907E-154']
types: object


CODIGO_METODOLOGIA --> [1 9 10 20 11 2 12 '10' '**' ' 0' 0 ' 1' ' ']
types: object


REPITENTE --> ['N' 'S' ' ' '   0']
types: object


SIT_ACAD_ANIO_ANT --> [1 0 8 2 '1' '8' '2' '0' '*' '����������������N       N']
types: object


CON_ALUM_ANIO_ANT --> [9 8 5 3 '9' '5' '8' '*' '0' 10.0 0.0]
types: object


ZONA_RESI_ALU --> [1 2 '1' '2' '*' '0' 0 '    6' ' ']
types: object


VALORACION1 --> [' ' '4' '2' '3' '1' '*' '  3' '0']
types: object


VALORACION2 --> [' ' '3' '2' '4' '*' '����������������������' '0']
types: object


CODIGO_INTERNADO --> ['3' ' ' '*' '0' 0 3]
types: object


EDAD --> [17 4 8 3 14 13 16 15 18 7 9 12 11 10 5 6 19 2 20 26 22 30 21 28 24 23 33
 50 44 34 42 40 49 45 38 52 47 69 61 55 60 43 36 35 31 27 37 25 29 46 68
 58 48 63 56 57 54 53 51 39 32 72 41 74 70 77 75 62 59 67 66 73 65 71 79
 78 64 85 82 91 81 76 93 88 84 97 83 80 '17' '16' '14' '15' '18' '20' '19'
 '31' '29' '28' '24' '21' '22' '25' '26' '27' '23' '64' '63' '73' '43'
 '38' '41' '32' '39' '13' '54' '46' '57' '70' '56' '58' '53' '40' '47'
 '44' '36' '49' '48' '77' '**' ' 0' 0 86 87 89 100 92 1 '  9' '  8' '  7'
 ' 11' ' 10' ' 12' ' 14' '  5' ' 18' '  6' '  3' '  4' ' 16' ' 15' ' 13'
 ' 17' ' 19' ' ' '  1']
types: object


NIVEL --> [4 1 2 3 '4' '3' '2' '6,01347001699907E-154' '99' '6,01347001699915E-154'
 '6,01347001701032E-154' '6,01347001699911E-154' '6,01347106475025E-154'
 '6,01347001701879E-154' '6,01347001699913E-154' '6,01347001701471E-154'
 '6,01347001701607E-154' '6,01347001699914E-154' '6,01347002144322E-154'
 '6,01347001701641E-154' '6,01347001701031E-154' '6,01347001701473E-154'
 '6,01347001699912E-154' '6,01347001701033E-154' '6,01347001701472E-154'
 '6,01347001701482E-154' '6,01347002022866E-154' '6,01347002109185E-154'
 '6,01347001701508E-154' '6,01347001701506E-154' '6,01347002083067E-154'
 '6,01347001988136E-154' '6,01347002144323E-154' '6,01347001701643E-154'
 '6,01347001990289E-154' '6,01347001701404E-154' '6,01347001701677E-154'
 '6,01347002048983E-154' '6,0134710660547E-154' '6,01347001701507E-154'
 '6,01347001701169E-154' '6,01347001701642E-154' '6,01347002022969E-154'
 '6,01347106483405E-154' '6,0134700220476E-154' '6,0134700170148E-154'
 '6,01347001987761E-154' '6,01347002109353E-154' '6,01347001701505E-154'
 '6,01347002100433E-154' '6,01347106604962E-154' '6,01347001701168E-154'
 '6,01347001701608E-154' '6,01347001701034E-154' '6,01347001701167E-154'
 '6,01347001701846E-154' '6,01347002100908E-154' '6,01347002196418E-154'
 '6,01347099823948E-154' '6,0134700210949E-154' '6,01347104234495E-154'
 '6,01347075486883E-154' '6,01347002109217E-154' '6,01347001701881E-154'
 '6,01347001988203E-154' '6,01347076037619E-154' '6,01347115470083E-154'
 '6,01347001701844E-154' '6,01347001701516E-154' '6,01347001988135E-154'
 '6,09814772622804E-154' '6,01347130942975E-154' '6,01347115470252E-154'
 '6,01347001701177E-154' '6,0134707543448E-154' '6,01347075521409E-154'
 '6,01347001988205E-154' '6,01347001701166E-154' '6,01347002100571E-154'
 '6,01347001701303E-154' '6,01347002204763E-154' '6,01347001987662E-154'
 '6,01347002143847E-154' '6,09817075426579E-154' '6,01347001701609E-154'
 '6,01347002109557E-154' '6,01347001990153E-154' '6,08219774411331E-154'
 '6,01347104234734E-154' '6,01347001987933E-154' '6,01347075503704E-154'
 '6,01365891026721E-154' '-1,42499478980692E+016' '6,01347001701814E-154'
 '6,01347002083204E-154' '6,01373857367589E-154' '6,01376126821502E-154'
 '6,01347002196417E-154' '6,01347001987661E-154' '6,01373857394079E-154'
 '6,0134700198766E-154' '6,01347002109556E-154' '6,08222059286345E-154'
 '6,01347115469913E-154' '6,01347075495022E-154' '6,01347002153173E-154'
 '6,01347115470187E-154' '6,01376104715608E-154' '6,01347001701304E-154'
 '6,0137325061533E-154' '6,01373875141416E-154' '6,01379509999851E-154'
 '6,01365877750504E-154' '6,08066721886377E-154' '6,01347001987628E-154'
 '6,01347001701481E-154' '2,67478382901717E+059' '6,01347002103231E-154'
 '6,01347002103027E-154' '6,01347002022526E-154' '6,01347001987832E-154'
 '6,01347084395044E-154' '6,01347002143982E-154' '6,01347001701437E-154'
 '6,01380123463353E-154' '6,01347002057286E-154' '6,01347002057462E-154'
 '8,60202691231424E+044' '6,08797360382473E-154' '6,01347002083068E-154'
 '6,01347001701675E-154' '6,06177563713146E-154' '6,01347001701133E-154'
 '6,01347002204762E-154' '6,01347001699921E-154' '6,01347104269803E-154'
 '6,08649413595312E-154' '1' '7' nan]
types: object


DIR_NUM_LOCALIDAD --> [16 8 1 10 4 12 11 13 7 6 3 18 15 17 5 14 9 19 2 20 '10' '**' ' 6' ' 4'
 ' 3' ' 2' ' 1' '   16,00' '    8,00' '    1,00' '    4,00' '   10,00'
 '   12,00' '   11,00' '   13,00' '    7,00' '    5,00' '    6,00'
 '    3,00' '   18,00' '   15,00' '   17,00' '   19,00' '   14,00'
 '    9,00' '    2,00' '   20,00' ' ' '     ,00']
types: object


DIR_LOCALIDAD --> ['PUENTE ARANDA' 'KENNEDY' 'USAQUEN' 'ENGATIVA' 'SAN CRISTOBAL'
 'BARRIOS UNIDOS' 'SUBA' 'TEUSAQUILLO' 'BOSA' 'TUNJUELITO' 'SANTAFE'
 'RAFAEL URIBE URIBE' 'ANTONIO NARI�O' 'LA CANDELARIA' 'USME'
 'LOS MARTIRES' 'FONTIBON' 'CIUDAD BOLIVAR' 'CHAPINERO' 'SUMAPAZ' ' '
 'PUENTE' 'SAN CRI' 'ENGATIV' 'BARRIOS' 'TEUSAQU' 'TUNJUEL' 'RAFAEL'
 'ANTONIO' 'LA CAND' 'CIUDAD' 'LOS MAR' 'FONTIBO' 'CHAPINE' '     17,0000'
 'INTERNA' 'ANTONIO NARIÑO' 16 8 1 10 12 11 7 6 3 13 18 15 4 17 5 14 9 19
 2 20]
types: object

 campos ' ': `SISBEN`, `DPTO_EXP, MUN_EXP`, `VALORACION1`, `VALORACION2`, `CODIGO_INTERNADO`, `PAIS_ORIGEN`  
campos '\$null\$': `NOMBRE_PAIS_ORIGEN`

In [24]:
empty_columns = ['SISBEN', 'DPTO_EXP', 'MUN_EXP', 'VALORACION1', 'VALORACION2', 'CODIGO_INTERNADO']

In [25]:
for col in empty_columns:
  print(f"Empties in {col} --> {df_anexo6A[df_anexo6A[col] == ' '][col].value_counts()[0]}")

Empties in SISBEN --> 1814713
Empties in DPTO_EXP --> 4271842
Empties in MUN_EXP --> 4271842
Empties in VALORACION1 --> 4401025
Empties in VALORACION2 --> 4402929
Empties in CODIGO_INTERNADO --> 572358

`DPTO_EXP` 2156194 vacios pero no todos los estudiantes son expulsados como victimas de conflicto  
`MUN_EXP ` 2156194 vacios pero no todos los estudiantes son expulsados como victimas de conflicto
`VALORACION1` y `VALORACION2` contiene muchos vacios, pero despues de ralizar un conteo en la base del 2019 donde se encuentran 27099 repitentes, solo 4 cuentan con el dato de valoracion, en este caso no tendriamos en cuneta estas variables para el análisis

In [26]:
df_anexo6A.to_csv('data/1-bronce/Consolidado-SIMAT-2017-2021.csv')